<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        แผนการรักษา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        แผนการรักษา
      </h5>
      <!-- <menu-companent :customerId="customerId"></menu-companent> -->
      <div class="container pb-2">
        <div>
          <b-form-group
            id="fieldset-horizontal"
            label="แผนการรักษา"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="presentAddress"
              rows="3"
              max-rows="6"
              v-model="treatment.treatmentPlan"
            ></b-form-textarea>
          </b-form-group>
          <u>การรักษา</u>
          <b-row>
            <b-col>
              <b-form-group label="ประคบสมุนไพร">
                <b-form-textarea
                  id="presentAddress"
                  rows="3"
                  max-rows="6"
                  v-model="treatment.thaiHerbalCompressMassage"
                ></b-form-textarea>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group label="อบสมุนไพร">
                <b-form-textarea
                  id="presentAddress"
                  rows="3"
                  max-rows="6"
                  v-model="treatment.herbalSteam"
                ></b-form-textarea>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group label="หัตถการ">
                <b-form-textarea
                  id="presentAddress"
                  rows="3"
                  max-rows="6"
                  v-model="treatment.operative"
                ></b-form-textarea>
              </b-form-group>
            </b-col>
          </b-row>
          <b-form-group
            id="fieldset-horizontal"
            label="การตรวจประเมินหลังการรักษา"
            label-for="input-horizontal"
          >
            <b-form-input v-model="treatment.evaluationAfterTreatments"></b-form-input>
          </b-form-group>
          <u>กรณีมีความเจ็บปวดให้บันทึกระดับความปวดด้วย</u>

          <li>ระดับความปวด(หลังรักษา)</li>
          <div>
            <b-form-input
              id="range"
              type="range"
              min="0"
              max="10"
              v-model="treatment.painScoreAf"
            ></b-form-input>
            <div class="d-flex justify-content-between">
              <p
                class=""
                v-for="(item, index) in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                :key="index"
              >
                {{ item }}
              </p>
            </div>
          </div>
          <div class="feel coordinates">
            <b-row>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl1.png" alt="" />
                </p>
                <p>สบายดี</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl2.png" alt="" />
                </p>
                <p>ปวดพอรำคาญ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl3.png" alt="" />
                </p>
                <p>ปวดพอประมาณ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl4.png" alt="" />
                </p>
                <p>ปวดมากพอสมควร</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl5.png" alt="" />
                </p>
                <p>ปวดเป็นอย่างมาก</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl6.png" alt="" />
                </p>
                <p>ปวดสุดจะทน</p>
              </b-col>
            </b-row>
          </div>
          <b-form-group
            id="fieldset-horizontal"
            label="รายละเอียดการตรวจร่างกาย"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="presentAddress"
              rows="3"
              max-rows="6"
              v-model="treatment.examinationDetails"
            ></b-form-textarea>
          </b-form-group>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label="คำแนะนำ"
                label-for="input-horizontal"
              >
                <b-form-input  v-model="treatment.suggestions"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label="วันที่นัดหมาย"
                label-for="input-horizontal"
              >
              <b-form-datepicker
              :date-format-options="{
                year: 'numeric',
                month: 'long',
                day: '2-digit'
              }"
  
              locale="th"
              id="example-datepicker2"
              placeholder="วัน/เดือน/ปี"
              class="mb-2"
              v-model="treatment.appointmentDate"
              trim
            ></b-form-datepicker>
                <!-- <b-form-input type="date"  v-model="treatment.appointmentDate"></b-form-input> -->
              </b-form-group>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
    <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToMedicalDiagnosis"
      >กลับ</b-button
      >&nbsp;
      <b-button
        variant="success"
        size="lg"
        style="margin-top: 9px"
        @click="addTreatment()"
        >ถัดไป</b-button
      >
    </div>
    <!-- <b-button
      variant="success"
      b-button
      size="lg"
      label-cols-sm="12"
      label-cols-lg="12"
      class="float-right" 
      @click="addTreatment()"
      >ถัดไป</b-button
    > -->
  </div>
</template>

<script>
import router from '@/router'
// import MenuCompanent from '../../components/MenuCompanent.vue';
import { mapState } from 'vuex';
export default {
  // components: {
  //   MenuCompanent,
  // },
  data () {
    return {
      treatment: {
        treatmentPlan: '',
        thaiHerbalCompressMassage: '',
        herbalSteam: '',
        operative: '',
        evaluationAfterTreatments: '',
        painScoreAf: '',
        examinationDetails: '',
        suggestions: '',
        appointmentDate: ''
      }
    }
  },
  computed: {
    ...mapState(['saveTreatment']),
    customerId() {
      return this.$route.params.id 
    }
  },
  mounted () {
    console.log("oooo");
    this.treatment = {...this.saveTreatment}
    this.$store.commit('updateTMValue', this.treatment)
    
  },
  methods: {
    async addTreatment () {
      this.$store.commit('updateTMValue', this.treatment)
      router.push({ name: 'medicinePrescription.create', params: { id: this.$route.params.id}})
      // await this.$api
      //   .post(
      //     `/treatments/customer/${this.$route.params.id}`,
      //     this.treatment
      //   )
      //   .then(response => {
      //     if (response.status === 200) {
      //       router.push({ name: 'medicinePrescription.create'})
      //     }
      //   })
      //   .catch(errors => {
      //     console.log(errors)
      //   })
    },
    backToMedicalDiagnosis() {
      router.push({ name: 'medicalDiagnosis.create', params: { id: this.$route.params.id}})
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
body {
  background: #e7e7e7 !important;
}
@media screen and (min-width: 280px) and (max-width: 500px) {
  img.painfulArea1 {
    width: 100%;
    /* max-width: 500px; */
    height: auto;
  }
  .scaled {
    width: 100%;
    max-width: 27px;
    height: auto;
    font-size: 70% !important;
  }
}
@media screen and (min-width: 360px) and (max-width: 500px) {
  .scaled {
    width: 100%;
    max-width: 47px;
    height: auto;
    font-size: 70% !important;
  }
}
div.scaled {
  width: 25%;
  margin: 0.5em;
  padding: 0.5em;
}
.feel {
  margin-top: 12px;
}
.coordinates {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  width: 100%;
  height: auto;
}
</style>
