<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        แก้ไขแผนการรักษา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        แก้ไขแผนการรักษา
      </h5>
      <div class="container pb-2">
        <div>
          <b-form-group
            id="fieldset-horizontal"
            label="แผนการรักษา"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="presentAddress"
              rows="3"
              max-rows="6"
              v-model="treatment.treatmentPlan"
            ></b-form-textarea>
          </b-form-group>
          <u>การรักษา</u>
          <b-row>
            <b-col>
              <b-form-group label="ประคบสมุนไพร">
                <b-form-textarea
                  id="presentAddress"
                  rows="3"
                  max-rows="6"
                  v-model="treatment.thaiHerbalCompressMassage"
                ></b-form-textarea>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group label="อบสมุนไพร">
                <b-form-textarea
                  id="presentAddress"
                  rows="3"
                  max-rows="6"
                  v-model="treatment.herbalSteam"
                ></b-form-textarea>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group label="หัตถการ">
                <b-form-textarea
                  id="presentAddress"
                  rows="3"
                  max-rows="6"
                  v-model="treatment.operative"
                ></b-form-textarea>
              </b-form-group>
            </b-col>
          </b-row>
          <b-form-group
            id="fieldset-horizontal"
            label="การตรวจประเมินหลังการรักษา"
            label-for="input-horizontal"
          >
            <b-form-input v-model="treatment.evaluationAfterTreatments"></b-form-input>
          </b-form-group>
          <u>กรณีมีความเจ็บปวดให้บันทึกระดับความปวดด้วย</u>

          <li>ระดับความปวด(หลังรักษา)</li>
          <div>
            <b-form-input
              id="range"
              type="range"
              min="0"
              max="10"
              v-model="treatment.painScore"
            ></b-form-input>
            <div class="d-flex justify-content-between">
              <p
                class=""
                v-for="(item, index) in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                :key="index"
              >
                {{ item }}
              </p>
            </div>
          </div>
          <div class="feel coordinates">
            <b-row>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl1.png" alt="" />
                </p>
                <p>สบายดี</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl2.png" alt="" />
                </p>
                <p>ปวดพอรำคาญ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl3.png" alt="" />
                </p>
                <p>ปวดพอประมาณ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl4.png" alt="" />
                </p>
                <p>ปวดมากพอสมควร</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl5.png" alt="" />
                </p>
                <p>ปวดเป็นอย่างมาก</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl6.png" alt="" />
                </p>
                <p>ปวดสุดจะทน</p>
              </b-col>
            </b-row>
          </div>
          <b-form-group
            id="fieldset-horizontal"
            label="รายละเอียดการตรวจร่างกาย"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="presentAddress"
              rows="3"
              max-rows="6"
              v-model="treatment.examinationDetails"
            ></b-form-textarea>
          </b-form-group>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label="คำแนะนำ"
                label-for="input-horizontal"
              >
                <b-form-input  v-model="treatment.suggestions"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label="วันที่นัดหมาย"
                label-for="input-horizontal"
              >
              <b-form-datepicker
              :date-format-options="{
                year: 'numeric',
                month: 'long',
                day: '2-digit'
              }"
  
              locale="th"
              id="example-datepicker2"
              placeholder="วัน/เดือน/ปี"
              class="mb-2"
              v-model="treatment.appointmentDate"
              trim
            ></b-form-datepicker>
                <!-- <b-form-input type="date"  v-model="treatment.appointmentDate"></b-form-input> -->
              </b-form-group>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
     <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToTreatment()"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="primary"
        size="lg"
        style="margin-top: 9px"
        @click="editTreatment()"
        >ยืนยัน</b-button
      >
    </div>
    <!-- <b-button
      variant="success"
      b-button
      size="lg"
      label-cols-sm="12"
      label-cols-lg="12"
      class="float-right" 
      @click="editTreatment()"
      >ยืนยัน</b-button
    > -->
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      treatment: {
        treatmentPlan: '',
        thaiHerbalCompressMassage: '',
        herbalSteam: '',
        operative: '',
        evaluationAfterTreatments: '',
        painScore: '',
        examinationDetails: '',
        suggestions: '',
        appointmentDate: ''
      }
    }
  },
  computed: {
    customerId() {
      return this.$route.params.id 
    }
  },
  mounted () {
    this.getTreatmentById();
  },
  methods: {
    async getTreatmentById () {
      const { status, data } = await this.$api.get(
        `/treatments/${this.$route.params.id}`
      )
      if (status === 200) {
        this.treatment = data.data
      }
    },
    async editTreatment() {
      await this.$api.put(`/treatments/${this.$route.params.id}`, this.treatment)
        .then((response) => {   
          if(response.status === 200) {
            router.push({ name: 'treatmentPlan', params: { id: this.$route.params.customerId}}) 
          }
        })    
        .catch((errors) => {    
          console.log(errors)    
        })
    },
    backToTreatment() {
      router.push({ name: 'treatmentPlan', params: { id: this.$route.params.customerId}})
    }
  }
}
</script>

<style>
/* .mt-3 {
  background: #8c9086 !important;
  color: rgb(7, 2, 2) !important;
} */
</style>
