<template>
  <div>
    <b-container>
      <div class="shadows mt-3 bg-light">
        <h1 class="title-header p-3 d-sm-block d-none">
          แผนการรักษา
        </h1>
        <h5 class="title-header p-3 d-sm-none d-block">
          แผนการรักษา
        </h5>
        <menu-companent :customerId="customerId"></menu-companent>

        <div class="container pb-2">
          <b-row>
            <b-col sm>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="แผนการรักษา"
                label-for="input-horizontal"
              >
                <b-input-group size="sm" class="mb-2">
                  <b-input-group-prepend is-text>
                    <b-icon icon="search"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    type="search"
                    placeholder="ค้นหา แผนการรักษา"
                    v-model="keyword"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col>
              <b-button
                variant="success"
                class="float-right"
                @click="createTreatmentByCustomer()"
                >แผนการรักษาครั้งนี้</b-button
              >
            </b-col>
          </b-row>
          <div style="overflow-x:auto;">
            <b-table
              striped
              hover
              :items="items"
              :fields="fields"
              :thead-class="'thead-gray'"
              :table-class="'tbody-white'"
            >
              <template #cell(index)="data">
                {{ data.index + 1 }}
              </template>

              <template v-slot:cell(operation)="data">
                <b-button variant="warning" @click="editTreatment(data)"
                >แก้ไข</b-button
                >
                <!-- &nbsp;
                <b-button variant="info" @click="detailTreatment(data)"
                  >ประวัติการรักษา</b-button
                > -->
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import router from '../../router'
import MenuCompanent from '../../components/MenuCompanent.vue'
export default {
  components: {
    MenuCompanent
  },
  data () {
    return {
      fields: [
        // 'index',
        { key: 'index', label: 'ลำดับ', class: 'text-center align-middle' },
        {
          key: 'treatmentPlan',
          label: 'แผนการรักษา',
          class: 'text-center align-middle'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center align-middle'
        }
      ],
      treatment: [],
      keyword: ''
    }
  },
  computed: {
    customerId () {
      return this.$route.params.id
    },
     items() {
      return this.keyword
        ? this.treatment.filter(item => item.treatmentPlan.includes(this.keyword))
        : this.treatment
    }
  },
  mounted () {
    this.getAllTreatment()
  },
  methods: {
    async getAllTreatment () {
      const { status, data } = await this.$api.get(
        `/treatments/customer/${this.$route.params.id}`
      )
      if (status === 200) {
        this.treatment = data.data
        console.log('id', this.treatment)
      }
    },
    // detailTreatment (data) {
    //   router.push({
    //     name: 'treatmentPlan.detail',
    //     params: { id: data.item.id, customerId: this.$route.params.id }
    //   })
    // },
    createTreatmentByCustomer () {
      router.push({ name: 'treatmentPlan.create', params: { id: this.$route.params.id }})
    },
    editTreatment (data) {
      router.push({
        name: 'treatmentPlan.edit',
        params: { id: data.item.id, customerId: this.$route.params.id }
      })
    }
  }
}
</script>

<style>
body {
  background: #e7e7e7 !important;
}
.thead-gray {
  font-size: 17px;
  background-color: #cacaca !important;
  color: black !important;
}
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
