<template>
  <div class="container">
    <div class="shadows mt-3 mb-0  bg-light">
      <h1 class="title-header p-3 d-sm-block d-none">
        ประวัติการรักษา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        ประวัติการรักษา
      </h5>
      <!-- <menu-companent :customerId="customerId"></menu-companent> -->
      <div class="container pb-2">
        <div>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="6"
                label="วัน/เดือน/ปี ที่มาพบแพทย์"
                label-for="input-horizontal"
              >
              <b-form-datepicker
              :date-format-options="{
                year: 'numeric',
                month: 'long',
                day: '2-digit'
              }"
  
              locale="th"
              id="example-datepicker2"
              placeholder="วัน/เดือน/ปี"
              class="mb-2"
              style="width: 240px;"
              v-model="medicalhistory.currentDate"
              trim
            ></b-form-datepicker>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="3"
                label-cols-lg="3"
                label="เวลา"
                label-for="input-horizontal"
              >
                <b-form-input 
                type="time" 
                id="time"
                v-model="medicalhistory.time"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="อาการสำคัญ"
            label-for="input-horizontal"
          >
            <b-form-input 
            id="symptoms"
            v-model="medicalhistory.symptoms"></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ประวัติปัจจุบัน"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="currentHistory"
              rows="3"
              max-rows="6"
              v-model="medicalhistory.currentHistory"
            ></b-form-textarea>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ประวัติอดีต"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="pastHistory"
              rows="3"
              max-rows="6"
              v-model="medicalhistory.pastHistory"
            ></b-form-textarea>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ประวัติครอบครัว"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="familyHistory"
              rows="3"
              max-rows="6"
              v-model="medicalhistory.familyHistory"
            ></b-form-textarea>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ประวัติส่วนตัว"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="personalHistory"
              rows="3"
              max-rows="6"
              v-model="medicalhistory.personalHistory"
            ></b-form-textarea>
          </b-form-group>
        </div>
      </div>
    </div>
     <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToMedicalhistory"
      >กลับ</b-button
      >&nbsp;
      <b-button
        variant="success"
        size="lg"
        style="margin-top: 9px"
        @click="addMedicalhistory"
        >ถัดไป</b-button
      >
    </div>
    <!-- <b-button
      variant="success"
      class="float-right"
      size="lg"
      style="margin-top: 9px"
      @click="addMedicalhistory"
      >ถัดไป</b-button
    > -->
  </div>
</template>

<script>
import router from '@/router'
// import MenuCompanent from '../../components/MenuCompanent.vue';
import { mapState } from 'vuex'

export default {
  // components: {
  //   MenuCompanent,
  // },
  data () {
    return {
      medicalhistory: {
        currentDate: new Date(),
        time: '',
        symptoms: '',
        currentHistory: '',
        pastHistory: '',
        familyHistory: '',
        personalHistory: ''
      },
    }
  },
  computed: {
    ...mapState(['savedMedicalHistory']),
    customerId() {
      return this.$route.params.id 
    }
  },
  mounted() {
    this.medicalhistory = {...this.savedMedicalHistory}
    // this.$store.commit('updateMHValue', this.medicalhistory)
  },
  methods: {
    async addMedicalhistory() {
      this.$store.commit('updateMHValue', this.medicalhistory)
      router.push({ name: 'physicalExamination.create', params: { id: this.$route.params.id}}) 
    },
    backToMedicalhistory() {
      router.push({ name: 'medicalHistory', params: { id: this.$route.params.id}})
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
body {
  background: #e7e7e7 !important;
}
</style>
