<template>
  <div class="container">
    <div class="shadows mt-3 mb-0  bg-light">
      <h1 class="title-header p-3 d-sm-block d-none">
        บันทึกการรักษา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        บันทึกการรักษา
      </h5>
      <div class="container pb-2">
        <h5 class="p-1 d-sm-block d-none"><u>ประวัติการเจ็บป่วย</u></h5>
        <h6 class="p-1 d-sm-none d-block"><u>ประวัติการเจ็บป่วย</u></h6>
        <div>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="6"
                label="วัน/เดือน/ปี ที่มาพบแพทย์"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="time"
                  v-model="medicalhistory.currentDate"
                  disabled
                ></b-form-input>
                <!-- <b-form-datepicker
              :date-format-options="{
                year: 'numeric',
                month: 'long',
                day: '2-digit'
              }"
  
              locale="th"
              id="example-datepicker2"
              class="mb-2"
              style="width: 240px;"
              v-model="medicalhistory.currentDate"
              trim
            ></b-form-datepicker> -->
                <!-- <b-form-input 
                type="date" 
                id="date"
                v-model="medicalhistory.currentDate"></b-form-input> -->
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="3"
                label-cols-lg="3"
                label="เวลา"
                label-for="input-horizontal"
              >
                <b-form-input
                  type="time"
                  id="time"
                  v-model="medicalhistory.time"
                  disabled
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="อาการสำคัญ"
            label-for="input-horizontal"
          >
            <b-form-input
              id="symptoms"
              v-model="medicalhistory.symptoms"
              disabled
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ประวัติปัจจุบัน"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="currentHistory"
              rows="3"
              max-rows="6"
              v-model="medicalhistory.currentHistory"
              disabled
            ></b-form-textarea>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ประวัติอดีต"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="pastHistory"
              rows="3"
              max-rows="6"
              v-model="medicalhistory.pastHistory"
              disabled
            ></b-form-textarea>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ประวัติครอบครัว"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="familyHistory"
              rows="3"
              max-rows="6"
              v-model="medicalhistory.familyHistory"
              disabled
            ></b-form-textarea>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ประวัติส่วนตัว"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="personalHistory"
              rows="3"
              max-rows="6"
              v-model="medicalhistory.personalHistory"
              disabled
            ></b-form-textarea>
          </b-form-group>
          <!-- ตรวจร่างกายก่อนการรักษา -->
          <h5 class="p-3 d-sm-block d-none"><u>ตรวจร่างกายก่อนการรักษา</u></h5>
          <h6 class="p-1 d-sm-none d-block"><u>ตรวจร่างกายก่อนการรักษา</u></h6>

          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="อุณหภูมิ"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="medicalhistory.temp"
                  disabled
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ชีพจร"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="medicalhistory.pulse"
                  disabled
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="การหายใจ"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="medicalhistory.respirationRate"
                  disabled
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ความดันโลหิต"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="medicalhistory.bp"
                  disabled
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ส่วนสูง"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="medicalhistory.height"
                  disabled
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="นำ้หนัก"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="medicalhistory.weight"
                  disabled
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ค่า BMI"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  label-cols-sm="4"
                  label-cols-lg="3"
                  v-model="medicalhistory.bmi"
                  disabled
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col></b-col>
          </b-row>
          <u>กรณีมีความเจ็บปวดให้บันทึกระดับความปวดด้วย</u>

          <li>ระดับความปวด(ก่อนรักษา)</li>
          <div>
            <b-form-input
              id="range"
              type="range"
              min="0"
              max="10"
              v-model="medicalhistory.painScore"
            ></b-form-input>
            <div class="d-flex justify-content-between">
              <p
                v-for="(item, index) in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                :key="index"
              >
                {{ item }}
              </p>
            </div>
          </div>
          <div class="feel coordinates">
            <b-row>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl1.png" alt="" />
                </p>
                <p>สบายดี</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl2.png" alt="" />
                </p>
                <p>ปวดพอรำคาญ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl3.png" alt="" />
                </p>
                <p>ปวดพอประมาณ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl4.png" alt="" />
                </p>
                <p>ปวดมากพอสมควร</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl5.png" alt="" />
                </p>
                <p>ปวดเป็นอย่างมาก</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl6.png" alt="" />
                </p>
                <p>ปวดสุดจะทน</p>
              </b-col>
            </b-row>
          </div>

          <li>บริเวณที่ปวด</li>
          <img class="lum " :src="medicalhistory.painfulArea" />
          <b-form-group
            id="fieldset-horizontal"
            label="รายละเอียดการตรวจร่างกาย"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="presentAddress"
              rows="3"
              max-rows="6"
              v-model="medicalhistory.detailedPhysicalExamination"
              disabled
            ></b-form-textarea>
          </b-form-group>

          <!-- การวินิจฉัยการรักษา -->
          <div>
            <h5 class="p-3 d-sm-block d-none"><u>การวินิจฉัยการรักษา</u></h5>
            <h6 class="p-1 d-sm-none d-block"><u>การวินิจฉัยการรักษา</u></h6>
            <b-row>
              <b-col>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="4"
                  label-cols-lg="4"
                  label="ธาตุสมุฏฐาน"
                  label-for="input-horizontal"
                >
                  <b-form-input
                    v-model="medicalhistory.elementaryPrinciples"
                    disabled
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="4"
                  label-cols-lg="4"
                  label="อุตุสมุฏฐาน"
                  label-for="input-horizontal"
                >
                  <b-form-input
                    v-model="medicalhistory.seasonalPrinciples"
                    disabled
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="4"
                  label-cols-lg="4"
                  label="อายุสมุฏฐาน"
                  label-for="input-horizontal"
                >
                  <b-form-input
                    v-model="medicalhistory.agePrinciples"
                    disabled
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="4"
                  label-cols-lg="4"
                  label="กาลสมุฏฐาน"
                  label-for="input-horizontal"
                >
                  <b-form-input
                    v-model="medicalhistory.timePrinciples"
                    disabled
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="4"
                  label-cols-lg="4"
                  label="ประเทศสมุฏฐานภูมิลำเนา"
                  label-for="input-horizontal"
                >
                  <b-form-input
                    v-model="medicalhistory.geographicalPlaceOfBirth"
                    disabled
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="4"
                  label-cols-lg="4"
                  label="ประเทศสมุฏฐานปัจจุบัน"
                  label-for="input-horizontal"
                >
                  <b-form-input
                    v-model="medicalhistory.geographicalPresentAddress"
                    disabled
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  id="fieldset-horizontal"
                  label-cols-sm="4"
                  label-cols-lg="2"
                  label="มูลเหตุการเกิดโรค"
                  label-for="input-horizontal"
                >
                  <b-form-input
                    v-model="medicalhistory.causeOfSymptoms"
                    disabled
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>

            <b-form-group
              id="fieldset-horizontal"
              label-cols-sm="4"
              label-cols-lg="2"
              label="สรุปความเจ็บป่วย"
              label-for="input-horizontal"
            >
              <b-form-input
                v-model="medicalhistory.summaryOfSickness"
                disabled
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="fieldset-horizontal"
              label-cols-sm="4"
              label-cols-lg="2"
              label="สมุฏฐานธาตุพิการ"
              label-for="input-horizontal"
            >
              <b-form-input
                v-model="medicalhistory.diagnosisBasedOfTheFourElements"
                disabled
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="fieldset-horizontal"
              label-cols-sm="4"
              label-cols-lg="2"
              label="การวินิจฉัยโรค"
              label-for="input-horizontal"
            >
              <b-form-input
                v-model="medicalhistory.diseaseDiagnosis"
                disabled
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="fieldset-horizontal"
              label-cols-sm="4"
              label-cols-lg="2"
              label="การวินิจฉัยแพทย์แผนปัจจุบัน"
              label-for="input-horizontal"
            >
              <b-form-input
                v-model="medicalhistory.modernMedicalDiagnosis"
                disabled
              ></b-form-input>
            </b-form-group>
          </div>

          <!-- แผนการรักษา -->
          <div>
            <h5 class="p-3 d-sm-block d-none"><u>แผนการรักษา</u></h5>
            <h6 class="p-1 d-sm-none d-block"><u>แผนการรักษา</u></h6>
            <b-form-group
              id="fieldset-horizontal"
              label="แผนการรักษา"
              label-for="input-horizontal"
            >
              <b-form-textarea
                id="presentAddress"
                rows="3"
                max-rows="6"
                v-model="medicalhistory.treatmentPlan"
                disabled
              ></b-form-textarea>
            </b-form-group>
            <u>การรักษา</u>
            <b-row>
              <b-col>
                <b-form-group label="ประคบสมุนไพร">
                  <b-form-textarea
                    id="presentAddress"
                    rows="3"
                    max-rows="6"
                    v-model="medicalhistory.thaiHerbalCompressMassage"
                    disabled
                  ></b-form-textarea>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group label="อบสมุนไพร">
                  <b-form-textarea
                    rows="3"
                    max-rows="6"
                    v-model="medicalhistory.herbalSteam"
                    disabled
                  ></b-form-textarea>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group label="หัตถการ">
                  <b-form-textarea
                    rows="3"
                    max-rows="6"
                    v-model="medicalhistory.operative"
                    disabled
                  ></b-form-textarea>
                </b-form-group>
              </b-col>
            </b-row>
            <b-form-group label="การตรวจประเมินหลังการรักษา">
              <b-form-input
                v-model="medicalhistory.evaluationAfterTreatments"
                disabled
              ></b-form-input>
            </b-form-group>
            <u>กรณีมีความเจ็บปวดให้บันทึกระดับความปวดด้วย</u>
            <li>ระดับความปวด(หลังรักษา)</li>
            <b-form-input
              id="range"
              type="range"
              min="0"
              max="10"
              v-model="medicalhistory.painScoreAf"
            ></b-form-input>
            <div class="d-flex justify-content-between">
              <p
                class=""
                v-for="(item, index) in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                :key="index"
              >
                {{ item }}
              </p>
            </div>
            <div class="feel coordinates">
              <b-row>
                <b-col class="scaled">
                  <p>
                    <img class="scaled" src="../../assets/fl1.png" alt="" />
                  </p>
                  <p>สบายดี</p>
                </b-col>
                <b-col class="scaled">
                  <p>
                    <img class="scaled" src="../../assets/fl2.png" alt="" />
                  </p>
                  <p>ปวดพอรำคาญ</p>
                </b-col>
                <b-col class="scaled">
                  <p>
                    <img class="scaled" src="../../assets/fl3.png" alt="" />
                  </p>
                  <p>ปวดพอประมาณ</p>
                </b-col>
                <b-col class="scaled">
                  <p>
                    <img class="scaled" src="../../assets/fl4.png" alt="" />
                  </p>
                  <p>ปวดมากพอสมควร</p>
                </b-col>
                <b-col class="scaled">
                  <p>
                    <img class="scaled" src="../../assets/fl5.png" alt="" />
                  </p>
                  <p>ปวดเป็นอย่างมาก</p>
                </b-col>
                <b-col class="scaled">
                  <p>
                    <img class="scaled" src="../../assets/fl6.png" alt="" />
                  </p>
                  <p>ปวดสุดจะทน</p>
                </b-col>
              </b-row>
            </div>
            <b-form-group
              id="fieldset-horizontal"
              label="รายละเอียดการตรวจร่างกาย"
              label-for="input-horizontal"
            >
              <b-form-textarea
                id="presentAddress"
                rows="3"
                max-rows="6"
                v-model="medicalhistory.examinationDetails"
                disabled
              ></b-form-textarea>
            </b-form-group>
            <b-row>
              <b-col>
                <b-form-group
                  id="fieldset-horizontal"
                  label="คำแนะนำ"
                  label-for="input-horizontal"
                >
                  <b-form-input
                    v-model="medicalhistory.suggestions"
                    disabled
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group
                  id="fieldset-horizontal"
                  label="วันที่นัดหมาย"
                  label-for="input-horizontal"
                >
                  <b-form-input
                    class="mb-2"
                    v-model="appointmentDate"
                    disabled
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <div style="overflow-x:auto;">
              <b-table
                striped
                hover
                :items="medicineList"
                :fields="fields"
                :thead-class="'thead-gray'"
                :table-class="'tbody-white'"
              >
              </b-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="float-right ">
      <b-button
        variant="secondary"
        size="lg"
        style="margin-top: 9px"
        @click="backToMedicalhistory()"
        >ยกเลิก</b-button
      >
      <!-- &nbsp;
      <b-button
        variant="success"
        size="lg"
        style="margin-top: 9px"
        @click="goToPhysicalExamination()"
        >ถัดไป</b-button
      > -->
    </div>
  </div>
</template>

<script>
import router from "@/router";
export default {
  data() {
    return {
      medicinePrescriptionList: [],
      medicineList: [],
      fields: [
        {
          key: "type",
          label: "ประเภทยา",
          class: "text-center align-middle",
        },
        {
          key: "drugNumber",
          label: "เลขที่ยา",
          class: "text-center align-middle",
        },

        {
          key: "drugName",
          label: "ชื่อยา",
          class: "text-center align-middle",
        },
        {
          key: "amount",
          label: "จำนวน",
          class: "text-center align-middle",
        },
      ],
    };
  },
  computed: {
    customerId() {
      return this.$route.params.customerId;
    },
    medicalhistory() {
      return this.$route.params.allData;
    },
    currentDate() {
      const date = new Date(this.medicalhistory.currentDate);
      return date.toLocaleDateString("th-TH", {
        year: "numeric",
        month: "long",
        day: "numeric",
      });
    },
    appointmentDate() {
      const date = new Date(this.medicalhistory.appointmentDate);
      return date.toLocaleDateString("th-TH", {
        year: "numeric",
        month: "long",
        day: "numeric",
      });
    },
  },
  mounted() {
    this.getMedicineList();
  },
  methods: {
    async getmedicalHistoryId() {
      const { status, data } = await this.$api.get(
        `/medicalHistory/${this.$route.params.id}`
      );
      if (status === 200) {
        this.medicalHistory = data.data;
        // this.medicalhistory.currentDate = this.$moment().locale('th');
      }
    },
    async getMedicineList() {
      console.log("allData", this.medicalhistory);
      const { status, data } = await this.$api.get(
        `/medicinePrescription/customer/${this.$route.params.customerId}/medicalHistoryId/${this.medicalhistory.id}`
      );
      if (status === 200) {
        this.medicineList = data.data;
        console.log("medicineList", this.medicineList);
      }
    },
    goToPhysicalExamination() {
      router.push({ name: "physicalExamination.detail" });
    },
    backToMedicalhistory() {
      router.push({
        name: "medicalHistory",
        params: { id: this.$route.params.customerId },
      });
    },
  }
};
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
body {
  background: #e7e7e7 !important;
}
@media screen and (min-width: 280px) and (max-width: 500px) {
  img.painfulArea1 {
    width: 100%;
    /* max-width: 500px; */
    height: auto;
  }
  .scaled {
    width: 100%;
    max-width: 28px;
    height: auto;
    font-size: 70% !important;
  }
  .lum {
    width: 100%;
    max-width: 250px;
    height: auto;
    font-size: 70% !important;
  }
}
@media screen and (min-width: 360px) and (max-width: 500px) {
  .scaled {
    width: 100%;
    max-width: 47px;
    height: auto;
    font-size: 70% !important;
  }
  .lum {
    width: 100%;
    max-width: 300px;
    height: auto;
    font-size: 70% !important;
    text-align: center;
  }
}
@media screen and (min-width: 540px) and (max-width: 1024px) {
  .lum {
    width: 100%;
    max-width: 500px;
    height: auto;
    font-size: 70% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 120px) and (max-width: 320px) {
  .scaled {
    width: 100%;
    max-width: 33px;
    height: auto;
    font-size: 70% !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .lum {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1367px) and (max-width: 2000px) {
  .lum {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
li {
  margin: 10px;
  padding-right: 5px;
}
div.scaled {
  width: 25%;
  margin: 0.5em;
  padding: 0.5em;
}
img.painfulArea {
  width: 400px;
  height: 350px;
  margin: 0.5em;
  padding: 0.5em;
}
/* img.painfulArea1 {
  width: 400px;
  height: 500px;
  margin: 0.5em;
  padding: 0.5em;
} */
.feel {
  margin-top: 12px;
}
.coordinates {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  width: 100%;
  height: auto;
}
</style>
