<template>
  <div>
    <b-container>
      <div class="shadows mt-3 bg-light">
        <h1 class="title-header p-3 d-sm-block d-none">
          {{ customer.name }}
        </h1>
        <h5 class="title-header p-3 d-sm-none d-block">
          {{ customer.name }}
        </h5>
        <!-- <div class="row" style="font-size: 32px; margin:0 ;background:#8c9086;">
  <h1 class="text-light col-12 col-sm-6 col-md-8 p-3 d-sm-block d-none">ประวัติการเจ็บป่วย</h1>
  <h4 class="text-light col-12 col-sm-6 col-md-8 p-1 d-sm-none d-block">ประวัติการเจ็บป่วย</h4>
  <p class="float-right text-center" style="font-size: 16px ;background:#8c9086; font-style: italic; margin-top: 10px; color:#e7e7e7">{{ customer.name }}</p>
</div> -->
        <!-- <b-row style="font-size: 32px; margin:0 ;background:#8c9086;"> 
    <b-col>
      <h1 class="text-light p-3 d-sm-block d-none">ประวัติการรักษา</h1>
      <h4 class="text-light p-3 d-sm-none d-block">ประวัติการรักษา</h4>
    </b-col>
    <b-col cols="12" md="auto"></b-col>
    <b-col col lg="2">
      <p class="text-light p-3 d-sm-block d-none"  style="font-size: 16px ;background:#8c9086; margin-top: 10px; color:#e7e7e7">{{ customer.name }}</p>
      <p class="text-light d-sm-none d-block"  style="font-size: 16px ;background:#8c9086; margin-left: 12px; color:#e7e7e7">{{ customer.name }}</p>
    </b-col>
  </b-row> -->

        <!-- <menu-companent :customerId="customerId"></menu-companent> -->

        <div class="container pb-2">
          <b-row>
            <b-col sm>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="อาการป่วย"
                label-for="input-horizontal"
              >
                <b-input-group size="sm" class="mb-2">
                  <b-input-group-prepend is-text>
                    <b-icon icon="search"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    type="search"
                    placeholder="ค้นหา อาการป่วย"
                    v-model="keyword"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col>
              <b-button
                variant="success"
                class="float-right"
                @click="createMedidalHistoryByCustomer()"
                >การรักษาครั้งนี้</b-button
              >
            </b-col>
          </b-row>

          <div style="overflow-x:auto;">
            <b-table
              striped
              hover
              :items="items"
              :fields="fields"
              :thead-class="'thead-gray'"
              :table-class="'tbody-white'"
            >
              <template #cell(index)="data">
                {{ data.index + 1 }}
              </template>

              <template v-slot:cell(operation)="data">
                <!-- <b-button variant="warning" @click="editMedicalHistory(data)"
                >แก้ไข</b-button
                >&nbsp; -->
                <b-button variant="info" @click="detailMedicalHistory(data)"
                  >ประวัติการรักษา</b-button
                >
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import router from '../../router'
// import MenuCompanent from '../../components/MenuCompanent.vue'
export default {
  // components: {
  //   MenuCompanent
  // },
  data () {
    return {
      fields: [
        // 'index',
        { key: 'index', label: 'ลำดับ', class: 'text-center align-middle' },
        {
          key: 'currentDate',
          label: 'วันที่รับการรักษา',
          class: 'text-center align-middle'
        },
        {
          key: 'symptoms',
          label: 'อาการป่วย',
          class: 'text-center align-middle'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center align-middle'
        }
      ],
      medicalHistory: [],
      customer: {},
      keyword: ''
    }
  },
  computed: {
    customerId () {
      return this.$route.params.id
    },
    items () {
      return this.keyword
        ? this.medicalHistory.filter(item =>
            item.symptoms.includes(this.keyword)
          )
        : this.medicalHistory
    },
    currentDate () {
      const date = new Date(this.medicalhistory.currentDate)
      return date.toLocaleDateString('th-TH', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })
    }
  },
  mounted () {
    this.getmedicalHistory()
    this.getCustomerById()
  },
  methods: {
    async getmedicalHistory () {
      const { status, data } = await this.$api.get(
        `/medicalHistory/customer/${this.$route.params.id}`
      )
      if (status === 200) {
        this.medicalHistory = data.data
        console.log('list array', this.medicalHistory)
      }
    },
    detailMedicalHistory (data) {
      const userData = data.item
      router.push({
        name: 'medicalHistory.detail',
        params: { id: data.item.medicalHistoryId, customerId: this.$route.params.id, allData: userData },
        // props: { allData: userData }
      })
    },
    createMedidalHistoryByCustomer () {
      router.push({
        name: 'medicalHistory.create',
        params: { id: this.$route.params.id }
      })
    },
    // editMedicalHistory (data) {
    //   console.log("ehyy");
    //   router.push({
    //     name: 'medicalHistory.edit',
    //     params: { id: data.item.id, customerId: this.$route.params.id }
    //   })
    // },
    async getCustomerById () {
      const { status, data } = await this.$api.get(
        `/customers/${this.$route.params.id}`
      )
      if (status === 200) {
        this.customer = data.data
      }
    }
  }
}
</script>

<style>
body {
  background: #e7e7e7 !important;
}
.thead-gray {
  font-size: 17px;
  background-color: #cacaca !important;
  color: black !important;
}
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
