<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        เพิ่มรายการยา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        เพิ่มรายการยา
      </h5>

      <div class="container pb-2">
        <div>
          <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ประเภทยา"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="TypeOptions"
                  v-model="drugs.type"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="3"
                label="เลขที่ยา"
                label-for="namedrug"
              >
                <b-form-input
                  id="number"
                  v-model="drugs.drugNumber"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ชื่อยา"
                label-for="namedrug"
              >
                <b-form-input v-model="drugs.drugName"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="3"
                label="จำนวน"
                label-for="namedrug"
              >
                <b-form-input
                  type="number"
                  v-model="drugs.amount"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ราคา"
                label-for="namedrug"
              >
                <b-form-input
                  type="number"
                  v-model="drugs.price"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="3"
                label="ข้อบ่งชี้(ย่อ)"
                label-for="namedrug"
              >
                <b-form-input v-model="drugs.indicationsShort"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-form-group label="ข้อบ่งชี้ (อย่างละเอียด)">
            <b-form-textarea
              v-model="drugs.indicationsLong"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
          <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ล็อตที่"
                label-for="namedrug"
              >
                <b-form-input type="number" v-model="drugs.lot"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="3"
                label="วันที่"
                label-for="input-horizontal"
              >
              <b-form-datepicker
              :date-format-options="{
                year: 'numeric',
                month: 'long',
                day: '2-digit'
              }"
  
              locale="th"
              id="example-datepicker2"
              placeholder="วัน/เดือน/ปี"
              class="mb-2"
              v-model="drugs.dateToBuy"
              trim
            ></b-form-datepicker>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
               <b-form-group
            label-cols-sm="4"
            label-cols-lg="4"
            label="วัน/เดือน/ปีที่หมดอายุ"
            label-for="input-horizontal"
          >
          <b-form-datepicker
              :date-format-options="{
                year: 'numeric',
                month: 'long',
                day: '2-digit'
              }"
  
              locale="th"
              id="example-datepicker2"
              placeholder="วัน/เดือน/ปีที่หมดอายุ"
              class="mb-2"
              v-model="drugs.exp"
              trim
            ></b-form-datepicker>
          </b-form-group>
            </b-col>
            <b-col></b-col>
          </b-row>
         
        </div>
      </div>
    </div>
    <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToDrug()"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="success"
        size="lg"
        style="margin-top: 9px"
        @click="addDrug()"
        >บันทึก</b-button
      >
    </div>
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      TypeOptions: [
        { value: '1', text: '1' },
        { value: '2', text: '2' },
        { value: '3', text: '3' },
        { value: '4', text: '4' }
      ],
      drugs: {
        type: '',
        drugNumber: '',
        drugName: '',
        amount: 0,
        price: 0,
        indicationsShort: '',
        indicationsLong: '',
        lot: 0,
        dateToBuy: new Date(),
        exp: new Date()
      }
    }
  },
  methods: {
     async addDrug() {
      await this.$api.post("/drugs", this.drugs)
        .then((response) => {   
          if(response.status === 200) {
            router.push({ name: 'drug'}) 
          }
        })    
        .catch((errors) => {    
          console.log(errors)    
        })
    },
    backToDrug() {
      router.push({ name: 'drug'})
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
body {
  background: #e7e7e7 !important;
}
</style>
