<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        รายละเอียดรายการยา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        รายละเอียดรายการยา
      </h5>

      <div class="container pb-2">
        <div>
          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>ประเภทยา: {{ drugs.type }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>เลขที่ยา: {{ drugs.drugNumber }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>ชื่อยา: {{ drugs.drugName }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>จำนวน: {{ drugs.amount }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>ราคา: {{ drugs.price }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>ข้อบ่งชี้(ย่อ): {{ drugs.indicationsShort }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>ข้อบ่งชี้(อย่างละเอียด): {{ drugs.indicationsLong }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>ล็อตที่: {{ drugs.lot }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>วันที่: {{ dateToBuy }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>วัน/เดือน/ปีที่หมดอายุ: {{ exp }}</p>
            </b-col>
          </b-row>

          
        </div>
      </div>
    </div>
    <br/>
    <b-button
      variant="secondary"
      size="lg"
      class="float-right"
      @click="backToDrugs"
    >
      กลับ</b-button
    >
    
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      TypeOptions: [
        { value: '1', text: '1' },
        { value: '2', text: '2' },
        { value: '3', text: '3' }
      ],
      drugs: {
        type: '',
        drugNumber: '',
        drugName: '',
        amount: 0,
        price: 0,
        indicationsShort: '',
        indicationsLong: '',
        lot: 0,
        dateToBuy: '',
        exp: ''
      }
    }
  },
  computed: {
    dateToBuy() {
      const date = new Date(this.drugs.dateToBuy)
      return date.toLocaleDateString('th-TH', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })
    },
    exp() {
      const date = new Date(this.drugs.exp)
      return date.toLocaleDateString('th-TH', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })
    }
  },
  mounted () {
    this.getDrugById()
  },
  methods: {
    async getDrugById () {
      const { status, data } = await this.$api.get(
        `/drugs/${this.$route.params.id}`
      )
      if (status === 200) {
        this.drugs = data.data
      }
    },
    backToDrugs () {
      router.push({ name: 'drug' })
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
body {
  background: #e7e7e7 !important;
}
</style>
