<template>
  <div>
    <b-container>
      <div class="shadows mt-3 bg-light">
        <h1 class="title-header p-3 d-sm-block d-none">
          รายการยา
        </h1>
        <h5 class="title-header p-3 d-sm-none d-block">
          รายการยา
        </h5>
        <div class="container pb-2">
          <b-row>
            <b-col sm>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-lg="3"
                label="ค้นหายา"
                label-for="input-horizontal"
              >
                <b-input-group size="sm">
                  <b-input-group-prepend is-text>
                    <b-icon icon="search"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    type="search"
                    placeholder="เลขที่ยา / ชื่อยา"
                    v-model="keyword"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
           
            <b-col>
              <b-button variant="success" class="float-right" to="/drug/create" v-show="status === 'ADMIN' || status ==='DOCTOR'"
                >เพิ่มรายการยา</b-button
              >
            </b-col>
          </b-row>
          <div style="overflow-x:auto;">
            <b-table
            striped
            hover
            :items="items"
            :fields="fields"
            :thead-class="'thead-gray'"
            :table-class="'tbody-white'"
          >
            <template v-slot:cell(operation)="data">
              <b-button variant="primary" @click="detailDrug(data)"
                >รายละเอียด</b-button
              >
              &nbsp;
              <b-button variant="warning" @click="editDrug(data)" v-show="status === 'ADMIN' || status ==='DOCTOR'"
                >แก้ไข</b-button
              >&nbsp;
              <b-button variant="danger" @click="showModal(data)" v-show="status === 'ADMIN' || status ==='DOCTOR'"  v-b-modal.modal-center >ลบ</b-button>
            </template>
          </b-table>
          </div>
          
        </div>
      </div>
    </b-container>
    <b-modal
      id="modal-center" 
      centered title="ต้องการลบรายการยานี้ใช่หรือไม่"
      ref="delete-drug-modal"
      hide-footer
       >
      <b-button @click="deleteDrug()" variant="danger" class="float-right" style="margin: 2px">ใช่</b-button>
      &nbsp;
      <b-button @click="hideModal()" class="float-right" style="margin: 2px">ไม่</b-button>
    </b-modal>
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      drugId: 0,
      status: '',
      TypeOptions: [
        { value: '1', text: '1' },
        { value: '2', text: '2' },
        { value: '3', text: '3' }
      ],
      drugs: [],
      keyword:'',
      fields: [
        { key: 'type', label: 'ประเภทยา', class: 'text-center align-middle' },
        {
          key: 'drugNumber',
          label: 'เลขที่ยา',
          class: 'text-center align-middle'
        },

        {
          key: 'drugName',
          label: 'ชื่อยา',
          class: 'text-center align-middle'
        },
        {
          key: 'indicationsShort',
          label: 'ข้อบ่งใช้',
          class: 'text-center align-middle'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center align-middle'
        }
      ]
    }
  },
  mounted () {
    this.getDrugs();
    this.getStatusUser();
  },
  methods: {
    showModal(data) {
      this.drugId = data.item.id
      this.$refs['delete-drug-modal'].show()
    },
    hideModal() {
      this.$refs['delete-drug-modal'].hide()
    },
    async getDrugs () {
      const { status, data } = await this.$api.get('/drugs')
      if (status === 200) {
        this.drugs = data.data
      }
    },
    editDrug (data) {
      router.push({ name: 'drug.edit', params: { id: data.item.id } }) 
    },
    detailDrug (data) {
      router.push({ name: 'drug.detail', params: { id: data.item.id } })
    },
    
    async deleteDrug () {
      const { status, data } = await this.$api.delete(`/drugs/${this.drugId}`)
      if (status === 200) {
        const { status, data } = await this.$api.get('/drugs')
        if (status === 200) {
        this.drugs = data.data
      }
      this.hideModal()
      }
    },
    async getStatusUser () {
      if (localStorage.getItem('user')) {
        const user = await JSON.parse(localStorage.getItem('user'))
        this.status = user.status
      }
    }
  },
  computed: {
    items() {
      return this.keyword
        ? this.drugs.filter(item => item.drugNumber.includes(this.keyword) || item.drugName.includes(this.keyword))
        : this.drugs
    }
  },
}
</script>

<style>
body {
  background: #e7e7e7 !important;
}
.thead-gray {
  font-size: 17px;
  background-color: #cacaca !important;
  color: black !important;
}
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
