<template>
  <div id="app1">
    <div class="container">
      <div class="shadows mt-3 bg-light ">
        <h1 class="title-header p-3 d-sm-block d-none">
          ตรวจร่างกายก่อนการรักษา
        </h1>
        <h5 class="title-header p-3 d-sm-none d-block">
          ตรวจร่างกายก่อนการรักษา
        </h5>
        <!-- <menu-companent :customerId="customerId"></menu-companent> -->
        <div class="container pb-2">
          <!-- <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="2"
                label="วัน/เดือน/ปี ที่มาพบแพทย์"
                label-for="input-horizontal"
              >
              <b-form-datepicker
              :date-format-options="{
                year: 'numeric',
                month: 'long',
                day: '2-digit'
              }"
  
              locale="th"
              id="example-datepicker2"
              placeholder="วัน/เดือน/ปี"
              class="mb-2"
              style="width: 240px;"
              trim
            ></b-form-datepicker>
              </b-form-group> -->
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="อุณหภูมิ"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="physicalExamination.temp"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ชีพจร"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="physicalExamination.pulse"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="การหายใจ"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="physicalExamination.respirationRate"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ความดันโลหิต"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="physicalExamination.bp"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ส่วนสูง"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="physicalExamination.height"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="นำ้หนัก"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="physicalExamination.weight"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ค่า BMI"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  label-cols-sm="4"
                  label-cols-lg="3"
                  v-model="physicalExamination.bmi"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col></b-col>
          </b-row>

          <u>กรณีมีความเจ็บปวดให้บันทึกระดับความปวดด้วย</u>

          <li>ระดับความปวด(ก่อนรักษา)</li>
          <div>
            <b-form-input
              id="range"
              type="range"
              min="0"
              max="10"
              v-model="physicalExamination.painScore"
            ></b-form-input>
            <div class="d-flex justify-content-between">
              <p
                v-for="(item, index) in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                :key="index"
              >
                {{ item }}
              </p>
            </div>
          </div>

          <div class="feel coordinates">
            <b-row>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl1.png" alt="" />
                </p>
                <p>สบายดี</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl2.png" alt="" />
                </p>
                <p>ปวดพอรำคาญ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl3.png" alt="" />
                </p>
                <p>ปวดพอประมาณ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl4.png" alt="" />
                </p>
                <p>ปวดมากพอสมควร</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl5.png" alt="" />
                </p>
                <p>ปวดเป็นอย่างมาก</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl6.png" alt="" />
                </p>
                <p>ปวดสุดจะทน</p>
              </b-col>
            </b-row>
          </div>
          <div>
            <li>บริเวณที่ปวด</li>
            <div class="item">
              <canvas
                id="myCanvas"
                class="lum"
                width="800"
                height="425"
                ref="canRef"
                @mousedown="beginDrawing"
                @mousemove="keepDrawing"
                @mouseup="stopDrawing"
                @touchstart="sketchpad_touchStart"
                @touchmove="sketchpad_touchMove"
                @touchend="sketchpad_touchEnd"
              ></canvas>
              <br />
            </div>
          </div>
          <div>
            <b-form-group
              id="fieldset-horizontal"
              label="รายละเอียดการตรวจร่างกาย"
              label-for="input-horizontal"
            >
              <b-form-textarea
                id="presentAddress"
                rows="3"
                max-rows="6"
                v-model="physicalExamination.detailedPhysicalExamination"
              ></b-form-textarea>
            </b-form-group>
          </div>
        </div>
      </div>
      <div class="float-right">
        <b-button
          variant="secondary"
          size="lg"
          style="margin-top: 9px"
          @click="backToPhysicalExamination"
          >กลับ</b-button
        >&nbsp;
        <b-button
          variant="success"
          size="lg"
          style="margin-top: 9px"
          @click="addPhysicalExamination"
          >ถัดไป</b-button
        >
      </div>
      <!-- <b-button
      variant="success"
      class="float-right"
      size="lg"
      style="margin-top: 9px"
      @click="addPhysicalExamination"
      >ถัดไป</b-button> -->
    </div>
  </div>
</template>

<script>
import router from '@/router'
import image from '../../assets/lum.png'
import { mapState } from 'vuex'
export default {
  data () {
    return {
      physicalExamination: {
        temp: '',
        pulse: '',
        respirationRate: '',
        bp: '',
        height: '',
        weight: '',
        bmi: '',
        painScore: '',
        painfulArea: '',
        detailedPhysicalExamination: ''
      },
      canvas: null,
      ctx: null,
      img: null,
      x: 0,
      y: 0,
      lastX: -1,
      lastY: -1,
      isDrawing: false,
      image: image,
      file: '',
      options: [
        { value: 'หัว', text: 'หัว' },
        { value: 'ขมับ', text: 'ขมับ' },
        { value: 'ไหล่', text: 'ไหล่' },
        { value: 'มือ', text: 'มือ' },
        { value: 'ข้อมือ', text: 'ข้อมือ' },
        { value: 'ข้อศอก', text: 'ข้อศอก' },
        { value: 'สะโพก', text: 'สะโพก' },
        { value: 'เข่า', text: 'เข่า' }
      ]
    }
  },
  computed: {
    ...mapState(['savePhysicalExamination']),
    customerId () {
      return this.$route.params.id
    }
    // bmiCalculation() {
    //   var weight = parseInt(this.physicalExamination.weight);
    //   var height = parseInt(this.physicalExamination.height) / 100;
    //   var bmi = weight / (height * height)
    //   if(bmi < 25) {
    //     return  bmi.toFixed(2) ;
    //   }
    //   else if (bmi >=25 && bmi <30 ) {
    //     return  bmi.toFixed(2) ;
    //   }
    //   else if (bmi >=30 ) {
    //     return  bmi.toFixed(2) ;
    //   }
    // }
  },
  mounted () {
    this.draw()
    this.physicalExamination = { ...this.savePhysicalExamination }
    this.$store.commit('updatePhyEValue', this.physicalExamination)
  },
  methods: {
    async addPhysicalExamination () {
      await this.download_image()

      this.$store.commit('updatePhyEValue', this.physicalExamination)

      router.push({
        name: 'medicalDiagnosis.create',
        params: { id: this.$route.params.id }
      })
    },
    drawLine (x1, y1, x2, y2) {
      var canvas = document.getElementById('myCanvas')
      var ctx = canvas.getContext('2d')
      ctx.beginPath()
      ctx.strokeStyle = 'red'
      ctx.lineWidth = 1
      ctx.moveTo(x1, y1)
      ctx.lineTo(x2, y2)
      ctx.stroke()
      ctx.closePath()
    },
    beginDrawing (e) {
      console.log('nott')
      this.x = e.offsetX
      this.y = e.offsetY
      this.isDrawing = true
    },
    keepDrawing (e) {
      if (this.isDrawing === true) {
        this.drawLine(this.x, this.y, e.offsetX, e.offsetY)
        this.x = e.offsetX
        this.y = e.offsetY
      }
    },
    stopDrawing (e) {
      if (this.isDrawing === true) {
        this.drawLine(this.x, this.y, e.offsetX, e.offsetY)
        this.x = 0
        this.y = 0
        this.isDrawing = false
      }
    },
    draw_pad (ctx, x, y, size) {
      var canvas = document.getElementById('myCanvas')
      ctx = canvas.getContext('2d')
      if (this.lastX == -1) {
        this.lastX = x
        this.lastY = y
      }
      ctx.strokeStyle = 'red'
      ctx.lineCap = 'round'
      ctx.beginPath()
      ctx.moveTo(this.lastX, this.lastY)
      ctx.lineTo(x, y)
      ctx.lineWidth = size
      ctx.stroke()
      ctx.closePath()
      this.lastX = x
      this.lastY = y
    },
    sketchpad_touchStart (e) {
      this.getTouchPos(e)
      this.draw_pad(this.ctx, this.touchX, this.touchY, 1)
      return e.preventDefault()
    },
    sketchpad_touchMove (e) {
      this.getTouchPos(e)
      this.draw_pad(this.ctx, this.touchX, this.touchY, 1)
      return e.preventDefault()
    },
    sketchpad_touchEnd() {
        this.lastX=-1;
        this.lastY=-1;
    },
    getTouchPos (e) {
      if (e.touches) {
        if (e.touches.length == 1) {
          var touch = e.touches[0]
          this.touchX = touch.pageX - touch.target.offsetLeft
          this.touchY = touch.pageY - touch.target.offsetTop
        }
      }
    },
    download_image () {
      var canvas = document.getElementById('myCanvas')
      var image = canvas.toDataURL('image/png', 1.0)
      this.physicalExamination.painfulArea = image
    },
    draw () {
      let self = this
      self.canvas = self.$refs.canRef
      self.ctx = self.canvas.getContext('2d')
      self.img = new Image()
      self.img.src = image
      self.img.onload = function () {
        console.log('loaded')
        self.ctx.drawImage(self.img, 0, 0)
      }
      self.canvas.addEventListener('touchstart', this.sketchpad_touchStart, false);
    self.canvas.addEventListener('touchmove', this.sketchpad_touchMove, false);
    
    },
    backToPhysicalExamination () {
      router.push({
        name: 'medicalHistory.create',
        params: { id: this.$route.params.id }
      })
    }
  }
}
</script>

<style>
@media screen and (min-width: 280px) and (max-width: 500px) {
  img.painfulArea1 {
    width: 100%;
    /* max-width: 500px; */
    height: auto;
  }
  .scaled {
    width: 100%;
    max-width: 27px;
    height: auto;
    font-size: 70% !important;
  }
  .lum {
    width: 100%;
    max-width: 250px;
    height: auto;
    font-size: 70% !important;
  }
}
@media screen and (min-width: 360px) and (max-width: 500px) {
  .scaled {
    width: 100%;
    max-width: 47px;
    height: auto;
    font-size: 70% !important;
  }
  .lum {
    width: 100%;
    max-width: 300px;
    height: auto;
    font-size: 70% !important;
  }
}
/* @media screen and (max-width: 1024px) {
  .lum {
    width: 100%;
    max-width: 560px;
    height: auto;
    font-size: 70% !important;
  }
} */
/* @media screen and (min-width: 768px) {
  .lum {
    width: 100%;
    max-width: 720px;
    height: auto;
    font-size: 70% !important;
  }
} */
li {
  margin: 10px;
  padding-right: 5px;
}
div.scaled {
  width: 25%;
  margin: 0.5em;
  padding: 0.5em;
}
img.painfulArea {
  width: 400px;
  height: 350px;
  margin: 0.5em;
  padding: 0.5em;
}
/* img.painfulArea1 {
  width: 400px;
  height: 500px;
  margin: 0.5em;
  padding: 0.5em;
} */
.feel {
  margin-top: 12px;
}
.coordinates {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  width: 100%;
  height: auto;
}
#myCanvas {
  border: 1px solid grey;
}
.title-header {
  background-color: #8c9086;
  color: white;
}
body {
  background: #e7e7e7 !important;
}
</style>
