<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        รายละเอียดตรวจร่างกายก่อนการรักษา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        รายละเอียดตรวจร่างกายก่อนการรักษา
      </h5>

      <div class="container pb-2">
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="อุณหภูมิ"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="physicalExamination.temp"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ชีพจร"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="physicalExamination.pulse"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="การหายใจ"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="physicalExamination.respirationRate"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ความดันโลหิต"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="physicalExamination.bp"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ส่วนสูง"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="physicalExamination.height"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="นำ้หนัก"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="physicalExamination.weight"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ค่า BMI"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  label-cols-sm="4"
                  label-cols-lg="3"
                  v-model="physicalExamination.bmi"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col></b-col>
          </b-row>

          <u>กรณีมีความเจ็บปวดให้บันทึกระดับความปวดด้วย</u>

          <li>ระดับความปวด(ก่อนรักษา)</li>
          <div>
            <b-form-input
              id="range"
              type="range"
              min="0"
              max="10"
              v-model="physicalExamination.painScore"
            ></b-form-input>
            <div class="d-flex justify-content-between">
              <p
                v-for="(item, index) in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                :key="index"
              >
                {{ item }}
              </p>
            </div>
          </div>

          <div class="feel coordinates">
            <b-row>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl1.png" alt="" />
                </p>
                <p>สบายดี</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl2.png" alt="" />
                </p>
                <p>ปวดพอรำคาญ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl3.png" alt="" />
                </p>
                <p>ปวดพอประมาณ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl4.png" alt="" />
                </p>
                <p>ปวดมากพอสมควร</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl5.png" alt="" />
                </p>
                <p>ปวดเป็นอย่างมาก</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl6.png" alt="" />
                </p>
                <p >ปวดสุดจะทน</p>
              </b-col>
            </b-row>
          </div>
          <div>
            <li>บริเวณที่ปวด</li>
           <div class="item">
            <canvas id="myCanvas" class="lum" width="800" height="425" ref = "canRef" @mousedown="beginDrawing" @mousemove="keepDrawing" @mouseup="stopDrawing"></canvas>
           </div>
          
          </div>
          <div>
            <b-form-group
              id="fieldset-horizontal"
              label="รายละเอียดการตรวจร่างกาย"
              label-for="input-horizontal"
            >
              <b-form-textarea
                id="presentAddress"
                rows="3"
                max-rows="6"
                v-model="physicalExamination.detailedPhysicalExamination"
              ></b-form-textarea>
            </b-form-group>
          </div>
        </div>
      </div>
    <br/>
    <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToMedicalhistory()"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="success"
        size="lg"
        style="margin-top: 9px"
        @click="goToMedicalDiagnosis()"
        >ถัดไป</b-button
      >
    </div>
       <!-- <b-button
      variant="success"
      size="lg"
      class="float-right"
      @click="backToPhysicalExamination()"
    >
      <b-icon icon="arrow-left-circle" aria-hidden="true"></b-icon>
      กลับ</b-button
    > -->
  </div>
  
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      physicalExamination: {}
    }
  },
  mounted () {
    console.log("pppp");
    this.getPhysicalExaminationById();
  },
  methods: {
    async getPhysicalExaminationById () {
      const { status, data } = await this.$api.get(
        `/physicalExamination/${this.$route.params.id}`
      )
      if (status === 200) {
        this.physicalExamination = data.data
      }
    },
    goToMedicalDiagnosis() {
      router.push({ name: 'medicalDiagnosis.detail', params: { id: this.$route.params.customerId}})
    },
    backToPhysicalExamination() {
      router.push({ name: 'physicalExamination.detail', params: { id: this.$route.params.customerId}})
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
