<template>
  <div id="app1">
    <div class="container">
      <div class="shadows mt-3 bg-light ">
        <h1 class="title-header p-3 d-sm-block d-none">
          แก้ไขตรวจร่างกายก่อนการรักษา
        </h1>
        <h5 class="title-header p-3 d-sm-none d-block">
          แก้ไขตรวจร่างกายก่อนการรักษา
        </h5>
        <div class="container pb-2">
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="อุณหภูมิ"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="physicalExamination.temp"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ชีพจร"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="physicalExamination.pulse"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="การหายใจ"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="physicalExamination.respirationRate"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ความดันโลหิต"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  style="width: 200px;"
                  v-model="physicalExamination.bp"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ส่วนสูง"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="physicalExamination.height"
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="นำ้หนัก"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  v-model="physicalExamination.weight"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="3"
                label="ค่า BMI"
                label-for="input-horizontal"
              >
                <b-form-input
                  id="input-horizontal"
                  type="number"
                  style="width: 200px;"
                  label-cols-sm="4"
                  label-cols-lg="3"
                  v-model="physicalExamination.bmi"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col></b-col>
          </b-row>

          <u>กรณีมีความเจ็บปวดให้บันทึกระดับความปวดด้วย</u>

          <li>ระดับความปวด(ก่อนรักษา)</li>
          <div>
            <b-form-input
              id="range"
              type="range"
              min="0"
              max="10"
              v-model="physicalExamination.painScore"
            ></b-form-input>
            <div class="d-flex justify-content-between">
              <p
                v-for="(item, index) in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                :key="index"
              >
                {{ item }}
              </p>
            </div>
          </div>

          <div class="feel coordinates">
            <b-row>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl1.png" alt="" />
                </p>
                <p>สบายดี</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl2.png" alt="" />
                </p>
                <p>ปวดพอรำคาญ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl3.png" alt="" />
                </p>
                <p>ปวดพอประมาณ</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl4.png" alt="" />
                </p>
                <p>ปวดมากพอสมควร</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl5.png" alt="" />
                </p>
                <p>ปวดเป็นอย่างมาก</p>
              </b-col>
              <b-col class="scaled">
                <p>
                  <img class="scaled" src="../../assets/fl6.png" alt="" />
                </p>
                <p >ปวดสุดจะทน</p>
              </b-col>
            </b-row>
          </div>
          <div>
            <li>บริเวณที่ปวด</li>

            <!-- แบบ 1  -->
            <!-- <b-row >
              <b-col>
                <b-row>
                  <b-col>
                    <p>
                      <img
                        class="painfulArea1"
                        src="../assets/bodyFront.png"
                        alt=""
                      />
                    </p>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <b-form-group
                      label="บริเวณที่ปวดในส่วนด้านหน้า:"
                      v-slot="{ ariaDescribedby }"
                    >
                      <b-form-checkbox-group
                        id="checkbox-group-0"
                        :options="options"
                        :aria-describedby="ariaDescribedby"
                        name="flavour-1"
                      ></b-form-checkbox-group>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-col>
              <b-col>
                <p>
                  <img
                    class="painfulArea1"
                    src="../assets/bodyBack.png"
                    alt=""
                  />
                </p>
              </b-col>
            </b-row> -->
            <!-- แบบ 2 บอกพิกัด -->
            <!-- <div>
              <p class="coordinates">
                <img
                class="painfulArea1"
                  src="../assets/bodyBack.png"
                  v-on:mousemove="updateCoordinates"
                />
                Coordinates: {{ x }} / {{ y }} <br />
              </p>
            </div> -->
            <!-- แบบ 3 หมายเลข -->
           <div class="item">
            <canvas id="myCanvas" class="lum" width="800" height="425" ref = "canRef" @mousedown="beginDrawing" @mousemove="keepDrawing" @mouseup="stopDrawing"></canvas>
            <br/>
            <b-button variant="primary" @click="download_image()">Download</b-button>
           </div>
          
          </div>
          <div>
            <b-form-group
              id="fieldset-horizontal"
              label="รายละเอียดการตรวจร่างกาย"
              label-for="input-horizontal"
            >
              <b-form-textarea
                id="presentAddress"
                rows="3"
                max-rows="6"
                v-model="physicalExamination.detailedPhysicalExamination"
              ></b-form-textarea>
            </b-form-group>
          </div>
        </div>
      </div>
      <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToPhysicalExamination()"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="primary"
        size="lg"
        style="margin-top: 9px"
        @click="editPhysicalExamination()"
        >ยืนยัน</b-button
      >
    </div>
      <!-- <b-button
      variant="success"
      class="float-right"
      size="lg"
      style="margin-top: 9px"
      @click="editPhysicalExamination"
      >ยืนยัน</b-button> -->
    </div>
     
    
  </div>
</template>

<script>
import router from '@/router'
import image from "../../assets/lum.png"
export default {
  data () {
    return {
      physicalExamination: {
        temp: '',
        pulse: '',
        respirationRate: '',
        bp: '',
        height: '',
        weight: '',
        bmi: '',
        painScore: '',
        painfulArea: '',
        detailedPhysicalExamination: ''
      },
      canvas: null,
      ctx: null,
      img: null,
      x: 0,
      y: 0,
      isDrawing: false,
      image: image,
      options: [
        { value: 'หัว', text: 'หัว' },
        { value: 'ขมับ', text: 'ขมับ' },
        { value: 'ไหล่', text: 'ไหล่' },
        { value: 'มือ', text: 'มือ' },
        { value: 'ข้อมือ', text: 'ข้อมือ' },
        { value: 'ข้อศอก', text: 'ข้อศอก' },
        { value: 'สะโพก', text: 'สะโพก' },
        { value: 'เข่า', text: 'เข่า' }
      ]
    }
  },
  computed: {
    customerId() {
      return this.$route.params.id 
    }
  },
  methods: {
    async editPhysicalExamination() {
      await this.$api.put(`/physicalExamination/${this.$route.params.id}`, this.physicalExamination)
        .then((response) => {   
          if(response.status === 200) {
            router.push({ name: 'physicalExamination', params: { id: this.$route.params.customerId}}) 
          }
        })    
        .catch((errors) => {    
          console.log(errors)    
        })
    },
    async getPhysicalExaminationById () {
      const { status, data } = await this.$api.get(
        `/physicalExamination/${this.$route.params.id}`
      )
      if (status === 200) {
        this.physicalExamination = data.data
      }
    },
    drawLine(x1, y1, x2, y2) {
      var canvas = document.getElementById('myCanvas')
      var ctx = canvas.getContext('2d')
      ctx.beginPath();
      ctx.strokeStyle = 'red';
      ctx.lineWidth = 1;
      ctx.moveTo(x1, y1);
      ctx.lineTo(x2, y2);
      ctx.stroke();
      ctx.closePath();

    },
    beginDrawing(e) {
      console.log("nott");
      this.x = e.offsetX;
      this.y = e.offsetY;
      this.isDrawing = true;
    },
    keepDrawing(e) {
      if (this.isDrawing === true) {
        this.drawLine(this.x, this.y, e.offsetX, e.offsetY);
        this.x = e.offsetX;
        this.y = e.offsetY;
      }
    },
    stopDrawing(e) {
      if (this.isDrawing === true) {
        this.drawLine(this.x, this.y, e.offsetX, e.offsetY);
        this.x = 0;
        this.y = 0;
        this.isDrawing = false;
      }
    },
    download_image() {
      var canvas = document.getElementById("myCanvas");
      var image = canvas.toDataURL("image/png", 1.0)
      var link = document.createElement('a');
      link.download = "my-image.png";
      link.href = image;
      link.click();
    },
    draw(){
      console.log('ggg');
    let self = this
    self.canvas = self.$refs.canRef
    self.ctx = self.canvas.getContext ('2d')
    self.img = new Image ()
    self.img.src = image
    self.img.onload = function () {
      console.log ('loaded')
      self.ctx.drawImage (self.img, 0, 0);
      }
    },
    backToPhysicalExamination() {
      router.push({ name: 'physicalExamination', params: { id: this.$route.params.customerId}})
    }
  },
  mounted() {
    this.draw();
    this.getPhysicalExaminationById();
  }
}
</script>

<style>
@media screen and (min-width: 280px) and (max-width: 500px) {
  img.painfulArea1 {
    width: 100%;
    /* max-width: 500px; */
    height: auto;
  }
  .scaled {
    width: 100%;
    max-width: 27px;
    height: auto;
    font-size: 70% !important;
  }
  .lum {
    width: 100%;
    max-width: 250px;
    height: auto;
    font-size: 70% !important;
  }
}
@media screen and (min-width: 360px) and (max-width: 500px) {
  .scaled {
    width: 100%;
    max-width: 47px;
    height: auto;
    font-size: 70% !important;
  }
  .lum {
    width: 100%;
    max-width: 300px;
    height: auto;
    font-size: 70% !important;
  }
}
/* @media screen and (max-width: 1024px) {
  .lum {
    width: 100%;
    max-width: 560px;
    height: auto;
    font-size: 70% !important;
  }
} */
@media screen and (min-width: 540px) and (max-width: 1024px) {
  .lum {
    width: 100%;
    max-width: 500px;
    height: auto;
    font-size: 70% !important;
  }
}
li {
  margin: 10px;
  padding-right: 5px;
}
div.scaled {
  width: 25%;
  margin: 0.5em;
  padding: 0.5em;
}
img.painfulArea {
  width: 400px;
  height: 350px;
  margin: 0.5em;
  padding: 0.5em;
}
/* img.painfulArea1 {
  width: 400px;
  height: 500px;
  margin: 0.5em;
  padding: 0.5em;
} */
.feel {
  margin-top: 12px;
}
.coordinates {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  width: 100%;
  height: auto;
}
#myCanvas {
  border: 1px solid grey;
}
</style>
