<template>
  <div>
    <b-container>
      <div class="shadows mt-3 bg-light">
        <h1 class="title-header p-3 d-sm-block d-none">
          ตรวจร่างกายก่อนการรักษา
        </h1>
        <h5 class="title-header p-3 d-sm-none d-block">
          ตรวจร่างกายก่อนการรักษา
        </h5>

        <!-- <menu-bar :customerId="customerId"></menu-bar> -->
        <menu-companent :customerId="customerId"></menu-companent>

        <div class="container pb-2">
          <b-row>
            <b-col sm>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="การตรวจร่างกาย"
                label-for="input-horizontal"
              >
                <b-input-group size="sm" class="mb-2">
                  <b-input-group-prepend is-text>
                    <b-icon icon="search"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    type="search"
                    placeholder="ค้นหา รายละเอียดการตรวจร่างกาย"
                    v-model="keyword"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col>
              <b-button
                variant="success"
                class="float-right"
                @click="createPhysicalExamination()"
                >ตรวจร่างกายครั้งนี้</b-button
              >
            </b-col>
          </b-row>

          <div style="overflow-x:auto;">
            <b-table
              striped
              hover
              :items="items"
              :fields="fields"
              :thead-class="'thead-gray'"
              :table-class="'tbody-white'"
            >
              <template #cell(index)="data">
                {{ data.index + 1 }}
              </template>

              <template v-slot:cell(operation)="data">
                <b-button variant="warning" @click="editPhysicalExamination(data)"
                >แก้ไข</b-button
                >&nbsp;
                <!-- <b-button variant="info" @click="detailPhysicalExamination(data)"
                  >ประวัติการรักษา</b-button
                > -->
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import router from '../../router'
import MenuCompanent from '../../components/MenuCompanent.vue'
export default {
  components: {
    MenuCompanent
  },
  data () {
    return {
      fields: [
        // 'index',
        { key: 'index', label: 'ลำดับ', class: 'text-center align-middle' },
        {
          key: 'detailedPhysicalExamination',
          label: 'รายละเอียดการตรวจร่างกาย',
          class: 'text-center align-middle'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center align-middle'
        }
      ],
      physicalExamination: [],
      keyword: ''
    }
  },
  computed: {
    customerId () {
      return this.$route.params.id
    },
    items() {
      return this.keyword
        ? this.physicalExamination.filter(item => item.detailedPhysicalExamination.includes(this.keyword))
        : this.physicalExamination
    }
  },
  mounted () {
    this.getAllPhysicalExamination()
    this.getCustomerById()
  },
  methods: {
    async getAllPhysicalExamination () {
      const { status, data } = await this.$api.get(
        `/physicalExamination/customer/${this.$route.params.id}`
      )
      if (status === 200) {
        this.physicalExamination = data.data
        console.log('id', this.physicalExamination)
      }
    },
    // detailPhysicalExamination (data) {
    //   router.push({
    //     name: 'physicalExamination.detail',
    //     params: { id: data.item.id, customerId: this.$route.params.id }
    //   })
    // },
    createPhysicalExamination () {
      router.push({
        name: 'physicalExamination.create',
        params: { id: this.$route.params.id }
      })
    },
    editPhysicalExamination (data) {
      router.push({
        name: 'physicalExamination.edit',
        params: { id: data.item.id, customerId: this.$route.params.id }
      })
    },
    async getCustomerById () {
      const { status, data } = await this.$api.get(
        `/customers/${this.$route.params.id}`
      )
      if (status === 200) {
        this.customer = data.data
      }
    }
  }
}
</script>

<style>
body {
  background: #e7e7e7 !important;
}
.thead-gray {
  font-size: 17px;
  background-color: #cacaca !important;
  color: black !important;
}
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
