<template>
  <div id="login">
    <div class="title">
      <div class="item" style="opacity: 1;text-align: center;">
        <!-- <h1>ศูนย์บริการแพทย์แผนไทยและแพทย์ทางเลือก</h1>
      <h3>คณะการแพทย์แผนไทยอภัยภูเบศร มหาวิทยาลัยบูรพา</h3> -->
        <br /><br />
        <img
          src="../assets/logo-informatics.png"
          class="rounded mx-auto d-block"
          width="150"
          alt="logo-informatics"
        /><br />
        <h1 class="d-sm-block d-none">
          ศูนย์บริการแพทย์แผนไทยและแพทย์ทางเลือก
        </h1>
        <h5 class="d-sm-none d-block">
          ศูนย์บริการแพทย์แผนไทยและแพทย์ทางเลือก
        </h5>
        <h3 class="d-sm-block d-none">
          คณะการแพทย์แผนไทยอภัยภูเบศร มหาวิทยาลัยบูรพา
        </h3>
        <h6 class="d-sm-none d-block">
          คณะการแพทย์แผนไทยอภัยภูเบศร มหาวิทยาลัยบูรพา
        </h6>

        <div class="container" style="padding-top:45px;padding-bottom:45px">
          <div class="row">
            <div class="col-lg-2"></div>
            <div
              class="col-lg-8"
              style="background-color:#FFFFFF; padding: 50px ;border-radius:25px ; opacity: 0.89;"
            >
              <h3 align="center">เข้าสู่ระบบ</h3>
              <br />
              <div class="input-group flex-nowrap">
                <b-form-group class="col-sm-12 " label-for="username">
                  <b-form-input
                    class="col-sm-12"
                    type="text"
                    v-model="username"
                    placeholder="Username"
                  />
                </b-form-group>
              </div>
              <b-form-group class="col-sm-12 " label-for="password">
                <b-form-input
                  class="col-sm-12"
                  type="password"
                  v-model="password"
                  placeholder="Password"
                />
              </b-form-group>
              <div class="col-sm-12 ">
                <b-button block variant="primary" @click="login"
                  >เข้าสู่ระบบ</b-button
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <b-img
      :src="require('../assets/bg2.jpg')"
      style="height:100vh; opacity: 0.9;"
      fluid-grow
      no-repeat
      center
      fixed
      alt="image"
    >
    
    </b-img> -->

      <!-- <div style="position:absolute; top:0;" class="w-100">
      <div class="w-20 p-4 center my-5" style="opacity: 1;">
        
      </div>
      <div class="container" style="padding-top:100px;padding-bottom:100px">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color:#f4f4f4; padding: 40px">
          
          <h3 align="center">เข้าสู่ระบบ</h3>
          <b-form-group class="col-sm-12" label-for="username">
            <b-form-input
              class="col-sm-12"
              type="text"
              id="username"
              placeholder="Username"
            />
          </b-form-group>
          <b-form-group class="col-sm-12 " label-for="password">
            <b-form-input
              class="col-sm-12"
              type="password"
              id="password"
              placeholder="Password"
            />
          </b-form-group>
          <div class="col-sm-12 ">
            <b-button block variant="primary" class="col-sm-12"
              >เข้าสู่ระบบ</b-button
            >
          </div>
        </div>
      </div>
    </div>
    </div> -->
    </div>
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'login',
  components: {},
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login () {
      const request = {
        username: this.username,
        password: this.password
      }

      this.$api
        .post('/auth', request)
        .then(response => {
          console.log(response)
          if (response.data.data.token) {
            localStorage.setItem('user', JSON.stringify(response.data.data))
          }
          router.push({ name: 'customers' })
        })
        .catch(errors => {
          alert('Cannot log in', errors)
        })
    }
  }
}
</script>

<style>
.title {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item {
  text-align: center;
}
</style>
