<template>
  <div>
    <template v-if="$route.path !== '/login'">
    <!-- <NprogressContainer style="height:2px" class="bg-blue"> </NprogressContainer> -->
      <Navbar></Navbar>
      <Menubar></Menubar>

      <b-container container>
        <router-view></router-view>
      </b-container>
    </template>
    <template v-if="$route.path === '/login'">
    <!-- <NprogressContainer style="height:0px" > </NprogressContainer> -->
      <router-view></router-view>
    </template>
  </div>
  <!-- </b-row>
    </b-container>-->
  <!-- </div> -->
</template>

<script>
import Menubar from './Menubar'
import Navbar from './Navbar'
// import NprogressContainer from 'vue-nprogress/src/NprogressContainer'

export default {
  components: {
    // NprogressContainer,
    Menubar,
    Navbar
  }
}
</script>