<template>
  <div class="mb-2">
    <b-navbar toggleable="lg" style="background:#f5f1ea ;color:#8c9086">
      <b-navbar-brand href="#">แพทย์แผนไทย</b-navbar-brand>

      <template>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <!-- <b-nav-item to="/">หน้าหลัก</b-nav-item> -->

            <template v-slot:button-conten>ข้อมูลทั่วไป</template>
            <b-nav-item active-class="active" to="/customers"
              >รายชื่อคนไข้</b-nav-item
            >

            <!-- <b-nav-item active-class="active" to="/medicalHistory/create"
              >ประวัติการรักษา</b-nav-item
            >
            <b-nav-item
              active-class="active"
              to="/physicalExamination/create/customer/:id"
              >ตรวจร่างกายก่อนการรักษา</b-nav-item
            >
            <b-nav-item
              active-class="active"
              to="/medicalDiagnosis/create/customer/:id"
              >การวินิจฉัยการรักษา</b-nav-item
            >
            <b-nav-item active-class="active" to="/TreatmentPlan"
              >แผนการรักษา</b-nav-item
            > -->
            <b-nav-item active-class="active" to="/drug">รายการยา</b-nav-item>
            <!-- <b-nav-item active-class="active" @click="goToMedical()"
              >การจ่ายยา</b-nav-item
            >
            <b-nav-item active-class="active" to="/medicalCertificate/create/customer/:id"
              >ใบรับรองแพทย์</b-nav-item
            > -->

            <!-- <b-nav-item
              active-class="active"
              to="/medicalCertificate/create/customer/:id"
              >ใบรับรองแพทย์</b-nav-item> -->
              <b-nav-item active-class="active" to="/user" v-show="status === 'ADMIN'">ผู้ใช้งาน</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <!-- <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right v-if="username">{{ username }}</b-nav-item-dropdown>
            <b-nav-item v-else active-class="active" to="/login">login</b-nav-item>
            <b-dropdown-item @click="logout">ออกจากระบบ</b-dropdown-item>
          </b-navbar-nav> -->
          <b-navbar-nav class="ml-auto">
            <b-nav-form>
              <b-nav-item-dropdown right v-if="username">
                <template v-slot:button-content>
                  <em>{{ username }}</em>
                </template>
                <b-dropdown-item @click="logout">
                  <b-icon
                    icon="box-arrow-right"
                    aria-hidden="true"
                    variant="success"
                  ></b-icon>
                   ออกจากระบบ</b-dropdown-item>
                <!-- <b-dropdown-item>
                  <b-nav-item active-class="active" to="/user" class="mb-2">
                  <b-icon icon="gear" variant="success"></b-icon>  ตั้งค่าผู้ใช้งาน</b-nav-item>
                </b-dropdown-item> -->
              </b-nav-item-dropdown>
              <b-nav-item v-else active-class="active" to="/login"
                >เข้าสู่ระบบ</b-nav-item
              >
            </b-nav-form>
          </b-navbar-nav>
        </b-collapse>
      </template>
    </b-navbar>
  </div>
</template>

<script>
import router from '@/router'
export default {
  props: {
    customerId: {
      type: String,
      default: '0'
    }
  },
  data () {
    return {
      username: '',
      status: ''
    }
  },
  mounted () {
    this.getUsername();
    this.getStatus();
  },
  methods: {
    async getUsername () {
      console.log("ll", this.user);
      if (localStorage.getItem('user')) {
        const user = await JSON.parse(localStorage.getItem('user'))
        // console.log('user', user[1]);
        this.username = user.username
        console.log('yes', user.username)
      }
      console.log('dd', this.username)
    },
    async getStatus () {
      if (localStorage.getItem('user')) {
        const user = await JSON.parse(localStorage.getItem('user'))
        // console.log('user', user[1]);
        this.status = user.status
      }
    },
    logout () {
      localStorage.clear()
      console.log('hii')
      router.push({ name: 'login' })
    },
    goToMedical () {
      router.push({
        name: 'medicinePrescription',
        params: { id: this.customerId }
      })
    }
  }
}
</script>

