<template>
  <div class="container-fluid">
    <b-navbar toggleable="lg" class="ml-md-2 my-2 my-lg-0">
      <template>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <!-- <b-nav-item to="/">หน้าหลัก</b-nav-item> -->

      
            <b-nav-item active-class="active" @click="goToMedicalHistory()"
              >ประวัติการรักษา</b-nav-item
            >
            <b-nav-item
              active-class="active"
              @click="goToPhysicalExamination()"
              >ตรวจร่างกายก่อนการรักษา</b-nav-item
            >
            <b-nav-item
              active-class="active"
              @click="goToMedicalDiagnosis()"
              >การวินิจฉัยการรักษา</b-nav-item
            >
            <b-nav-item active-class="active" @click="goToTreatmentPlan()"
              >แผนการรักษา</b-nav-item
            >
            <b-nav-item active-class="active" @click="goToMedicinePrescription()"
              >การจ่ายยา</b-nav-item
            >
            <b-nav-item
              active-class="active" @click="goToMedicalCertificate()"
              >ใบรับรองแพทย์</b-nav-item
            >
          </b-navbar-nav>
           
        </b-collapse>
      </template>
    </b-navbar>
  </div>
</template>

<script>
import router from '@/router'
export default {
  props: {
    customerId: {
      default: "0"
    }
  },
  methods: {
    goToMedicinePrescription() {
      router.push({ name: 'medicinePrescription.create', params: { id: this.customerId} })
    },
    goToMedicalHistory() {
      router.push({ name: 'medicalHistory.create', params: { id: this.customerId} })
    },
    goToPhysicalExamination() {
      router.push({ name: 'physicalExamination.create', params: { id: this.customerId} })
    },
    goToMedicalDiagnosis() {
      router.push({ name: 'medicalDiagnosis.create', params: { id: this.customerId} })
    },
    goToTreatmentPlan() {
      router.push({ name: 'treatmentPlan.create', params: { id: this.customerId} })
    },
    goToMedicalCertificate() {
      router.push({ name: 'medicalCertificate.create', params: { id: this.customerId} })
    }
  }
}
</script>


<style>


</style>

