<template>
  <div>
    <div class="text-light bg-green" style="background:#8c9086" >
      <div class="d-flex ">
         <router-link to="./">
          <img
            src="../assets/logo-informatics.png"
            class="d-sm-block d-none" 
            width="100"
            alt="logo-informatics"
          />
           <img
            src="../assets/logo-informatics.png"
            class="d-sm-none d-block" 
            width="75"
            alt="logo-informatics"
          />
        </router-link>
        <!-- <div class="d-inline-block ml-3" style="vertical-align: middle;">
          <h1 class="d-sm-block d-none">ศูนย์บริการแพทย์แผนไทยและแพทย์ทางเลือก</h1>
          <h4 class="d-sm-none d-block">ศูนย์บริการแพทย์แผนไทยและแพทย์ทางเลือก</h4>
          <h4 class="d-sm-block d-none">คณะการแพทย์แผนไทยอภัยภูเบศร มหาวิทยาลัยบูรพา</h4>
          <h5 class="d-sm-none d-block">คณะการแพทย์แผนไทยอภัยภูเบศร มหาวิทยาลัยบูรพา</h5>
        </div> -->
              <div class="d-inline-block ml-3" style="vertical-align: middle;">
        <p class="d-sm-block d-none" style="font-size: 32px; margin:0 ;">ศูนย์บริการแพทย์แผนไทยและแพทย์ทางเลือก</p>
        <p class="d-sm-none d-block" style="font-size: 18px; margin:0 ;">ศูนย์บริการแพทย์แผนไทยและแพทย์ทางเลือก</p>

        <p class="d-sm-block d-none" style="font-size: 22px ; margin:0; color:#e7e7e7;  "
          >คณะการแพทย์แผนไทยอภัยภูเบศร มหาวิทยาลัยบูรพา</p
        >
          <p class="d-sm-none d-block" style="font-size: 12px ; margin:0; color:#e7e7e7;  "
          >คณะการแพทย์แผนไทยอภัยภูเบศร มหาวิทยาลัยบูรพา</p
        >
      </div>



      </div>
    </div>
  </div>
</template>

<style>
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
}

</style>
