<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        การวินิจฉัยการรักษา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        การวินิจฉัยการรักษา
      </h5>
      <!-- <menu-companent :customerId="customerId"></menu-companent> -->
      <div class="container pb-2">
        <div>
          <!-- <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="2"
                label="วัน/เดือน/ปี ที่มาพบแพทย์"
                label-for="input-horizontal"
              >
              <b-form-datepicker
              :date-format-options="{
                year: 'numeric',
                month: 'long',
                day: '2-digit'
              }"
  
              locale="th"
              id="example-datepicker2"
              placeholder="วัน/เดือน/ปี"
              class="mb-2"
              style="width: 240px;"
              trim
            ></b-form-datepicker>
              </b-form-group> -->
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="ธาตุสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="ElementOptions"
                  v-model="medicalDiagnosis.elementaryPrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="อุตุสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="SeasonOptions"
                  v-model="medicalDiagnosis.seasonalPrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="อายุสมุฏฐาน"
                label-for="input-horizontal"
              >
                <!-- <b-form-input v-model="medicalDiagnosis.agePrinciples"></b-form-input> -->
                <b-form-select
                  :options="AgeOptions"
                  v-model="medicalDiagnosis.agePrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>

            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="กาลสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="TimeOptions"
                  v-model="medicalDiagnosis.timePrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="ประเทศสมุฏฐานภูมิลำเนา"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="BornAreaOptions"
                  v-model="medicalDiagnosis.geographicalPlaceOfBirth"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="ประเทศสมุฏฐานปัจจุบัน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="LivingAreaOptions"
                  v-model="medicalDiagnosis.geographicalPresentAddress"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="2"
                label="มูลเหตุการเกิดโรค"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="CauseOfSymptomOptions"
                  v-model="medicalDiagnosis.causeOfSymptoms"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="สรุปความเจ็บป่วย"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.summaryOfSickness"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="สมุฏฐานธาตุพิการ"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.diagnosisBasedOfTheFourElements"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="การวินิจฉัยโรค"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.diseaseDiagnosis"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="การวินิจฉัยแพทย์แผนปัจจุบัน"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.modernMedicalDiagnosis"
            ></b-form-input>
          </b-form-group>
        </div>
      </div>
      <div class="float-right">
        <b-button
          variant="secondary"
          size="lg"
          style="margin-top: 9px"
          @click="backToMedicalDiagnosis"
          >กลับ</b-button
        >&nbsp;
        <b-button
          variant="success"
          size="lg"
          style="margin-top: 9px"
          @click="addMedicalDiagnosis"
          >ถัดไป</b-button
        >
      </div>
      <!-- <b-button
        variant="success"
        b-button
        size="lg"
        label-cols-sm="12"
        label-cols-lg="12"
        class="float-right"
        @click="addMedicalDiagnosis()"
        >ถัดไป</b-button
      > -->
    </div>
  </div>
</template>

<script>
import router from '@/router'
// import MenuCompanent from '../../components/MenuCompanent.vue'
import { mapState } from 'vuex'
export default {
  // components: {
  //   MenuCompanent
  // },
  data () {
    return {
      customer: {},
      medicalDiagnosis: {
        elementaryPrinciples: '',
        seasonalPrinciples: '',
        agePrinciples: '',
        timePrinciples: '',
        geographicalPlaceOfBirth: '',
        geographicalPresentAddress: '',
        causeOfSymptoms: '',
        summaryOfSickness: '',
        diagnosisBasedOfTheFourElements: '',
        diseaseDiagnosis: '',
        modernMedicalDiagnosis: ''
      },
      ElementOptions: [
        { value: 'ปถวี', text: 'ปถวี' },
        { value: 'อาโป', text: 'อาโป' },
        { value: 'วาโย', text: 'วาโย' },
        { value: 'เตโช', text: 'เตโช' }
      ],
      SeasonOptions: [
        { value: 'เสมหะ', text: 'เสมหะ' },
        { value: 'วาตะ', text: 'วาตะ' },
        { value: 'ปิตตะ', text: 'ปิตตะ' }
      ],
      AgeOptions: [
        { value: 'ปฐมวัย', text: 'ปฐมวัย' },
        { value: 'มัชฌิมวัย', text: 'มัชฌิมวัย' },
        { value: 'ปัจฉิมวัย', text: 'ปัจฉิมวัย' }
      ],
      TimeOptions: [
        { value: 'เสมหะ', text: 'เสมหะ' },
        { value: 'วาตะ', text: 'วาตะ' },
        { value: 'ปิตตะ', text: 'ปิตตะ' }
      ],
      BornAreaOptions: [
        { value: 'ปถวี', text: 'ปถวี' },
        { value: 'อาโป', text: 'อาโป' },
        { value: 'วาโย', text: 'วาโย' },
        { value: 'เตโช', text: 'เตโช' }
      ],
      LivingAreaOptions: [
        { value: 'ปถวี', text: 'ปถวี' },
        { value: 'อาโป', text: 'อาโป' },
        { value: 'วาโย', text: 'วาโย' },
        { value: 'เตโช', text: 'เตโช' }
      ],
      CauseOfSymptomOptions: [
        { value: 'อาหาร', text: 'อาหาร' },
        { value: 'อิริยาบถ', text: 'อิริยาบถ' },
        { value: 'ความร้อน เย็น', text: 'ความร้อน เย็น' },
        { value: 'อดนอน อดข้าว อดน้ำ', text: 'อดนอน อดข้าว อดน้ำ' },
        {
          value: 'กลั้นอุจจาระปัสสาวะ',
          text: 'กลั้นอุจจาระปัสสาวะ'
        },
        { value: 'ทำงานเกินกำลัง', text: 'ทำงานเกินกำลัง' },
        { value: 'ความเศร้าโศกเสียใจ', text: 'ความเศร้าโศกเสียใจ' },
        { value: 'ความโกรธ', text: 'ความโกรธ' },
        { value: 'อื่นๆ.', text: 'อื่นๆ' }
      ]
    }
  },
  computed: {
    ...mapState(['saveMedicalDiagnosis']),
    customerId () {
      return this.$route.params.id
    },
    // calagePrinciples () {
    //   var age = this.customer.age
    //   if (age <= 16) {
    //     return 'ปฐมวัย'
    //   } else if (age > 16 && age <= 32) {
    //     return 'มัชฌิมวัย'
    //   } else if (age > 32) {
    //     return 'ปัจฉิมวัย'
    //   }
    //   return age
    // }
  },
  mounted () {
    this.medicalDiagnosis = { ...this.saveMedicalDiagnosis }
    this.$store.commit('updateMDValue', this.medicalDiagnosis)
    this.getCustomerById()
  },
  methods: {
    async addMedicalDiagnosis () {
      this.$store.commit('updateMDValue', this.medicalDiagnosis)
      router.push({
        name: 'treatmentPlan.create',
        params: { id: this.$route.params.id }
      })
      // await this.$api
      //   .post(
      //     `/medicalDiagnosis/customer/${this.$route.params.id}`,
      //     this.medicalDiagnosis
      //   )
      //   .then(response => {
      //     if (response.status === 200) {
      //       router.push({ name: 'treatmentPlan.create' })
      //     }
      //   })
      //   .catch(errors => {
      //     console.log(errors)
      //   })
    },
    backToMedicalDiagnosis () {
      router.push({
        name: 'physicalExamination.create',
        params: { id: this.$route.params.id }
      })
    },
    async getCustomerById () {
      const { status, data } = await this.$api.get(
        `/customers/${this.$route.params.id}`
      )
      if (status === 200) {
        this.customer = data.data
      }
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
body {
  background: #e7e7e7 !important;
}
</style>
