<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        รายละเอียดการวินิจฉัยการรักษา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        รายละเอียดการวินิจฉัยการรักษา
      </h5>

     <div class="container pb-2">
        <div>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="ธาตุสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="ElementOptions"
                  v-model="medicalDiagnosis.elementaryPrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="อุตุสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="SeasonOptions"
                  v-model="medicalDiagnosis.seasonalPrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="อายุสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="AgeOptions"
                  v-model="medicalDiagnosis.agePrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="กาลสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="TimeOptions"
                  v-model="medicalDiagnosis.timePrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="ประเทศสมุฏฐานภูมิลำเนา"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="BornAreaOptions"
                  v-model="medicalDiagnosis.geographicalPlaceOfBirth"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="ประเทศสมุฏฐานปัจจุบัน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="LivingAreaOptions"
                  v-model="medicalDiagnosis.geographicalPresentAddress"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="2"
                label="มูลเหตุการเกิดโรค"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="CauseOfSymptomOptions"
                  v-model="medicalDiagnosis.causeOfSymptoms"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="สรุปความเจ็บป่วย"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.summaryOfSickness"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="สมุฏฐานธาตุพิการ"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.diagnosisBasedOfTheFourElements"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="การวินิจฉัยโรค"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.diseaseDiagnosis"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="การวินิจฉัยแพทย์แผนปัจจุบัน"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.modernMedicalDiagnosis"
            ></b-form-input>
          </b-form-group>
        </div>
      </div>
    </div>
    <br/>
    <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToPhysicalExamination()"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="success"
        size="lg"
        style="margin-top: 9px"
        @click="goToTreatmentPlan()"
        >ถัดไป</b-button
      >
    </div>
       <!-- <b-button
      variant="success"
      size="lg"
      class="float-right"
      @click="backToMedicalDiagnosis"
    >
      <b-icon icon="arrow-left-circle" aria-hidden="true"></b-icon>
      กลับ</b-button
    > -->
  </div>
  
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      medicalDiagnosis: {}
    }
  },
  mounted () {
    this.getMedicalDiagnosisById();
  },
  methods: {
    async getMedicalDiagnosisById () {
      const { status, data } = await this.$api.get(
        `/medicalDiagnosis/${this.$route.params.id}`
      )
      if (status === 200) {
        this.medicalDiagnosis = data.data
      }
    },
    goToTreatmentPlan() {
      router.push({ name: 'treatmentPlan.detail', params: { id: this.$route.params.customerId}})
    },
    backToPhysicalExamination() {
      router.push({ name: 'physicalExamination.detail', params: { id: this.$route.params.customerId}})
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
