<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        แก้ไขการวินิจฉัยการรักษา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        แก้ไขการวินิจฉัยการรักษา
      </h5>
      <div class="container pb-2">
        <div>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="ธาตุสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="ElementOptions"
                  v-model="medicalDiagnosis.elementaryPrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="อุตุสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="SeasonOptions"
                  v-model="medicalDiagnosis.seasonalPrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="อายุสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="AgeOptions"
                  v-model="medicalDiagnosis.agePrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="กาลสมุฏฐาน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="TimeOptions"
                  v-model="medicalDiagnosis.timePrinciples"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="ประเทศสมุฏฐานภูมิลำเนา"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="BornAreaOptions"
                  v-model="medicalDiagnosis.geographicalPlaceOfBirth"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="4"
                label="ประเทศสมุฏฐานปัจจุบัน"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="LivingAreaOptions"
                  v-model="medicalDiagnosis.geographicalPresentAddress"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="2"
                label="มูลเหตุการเกิดโรค"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="CauseOfSymptomOptions"
                  v-model="medicalDiagnosis.causeOfSymptoms"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="สรุปความเจ็บป่วย"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.summaryOfSickness"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="สมุฏฐานธาตุพิการ"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.diagnosisBasedOfTheFourElements"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="การวินิจฉัยโรค"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.diseaseDiagnosis"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="2"
            label="การวินิจฉัยแพทย์แผนปัจจุบัน"
            label-for="input-horizontal"
          >
            <b-form-input
              v-model="medicalDiagnosis.modernMedicalDiagnosis"
            ></b-form-input>
          </b-form-group>
        </div>
      </div>
      
    </div>
    <br/>
    <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToMedicalDiagnosis()"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="primary"
        size="lg"
        style="margin-top: 9px"
        @click="editMedicalDiagnosis()"
        >ยืนยัน</b-button
      >
    </div>
    <!-- <b-button
        variant="success"
        b-button
        size="lg"
        label-cols-sm="12"
        label-cols-lg="12"
        class="float-right"
        @click="editMedicalDiagnosis()"
        >ยืนยัน</b-button
      > -->
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      medicalDiagnosis: {
        elementaryPrinciples: '',
        seasonalPrinciples: '',
        agePrinciples: '',
        timePrinciples: '',
        geographicalPlaceOfBirth: '',
        geographicalPresentAddress: '',
        causeOfSymptoms: '',
        summaryOfSickness: '',
        diagnosisBasedOfTheFourElements: '',
        diseaseDiagnosis: '',
        modernMedicalDiagnosis: ''
      },
      ElementOptions: [
        { value: 'ปถวี', text: 'ปถวี' },
        { value: 'อาโป', text: 'อาโป' },
        { value: 'วาโย', text: 'วาโย' },
        { value: 'เตโช', text: 'เตโช' }
      ],
      SeasonOptions: [
        { value: 'เสมหะ', text: 'เสมหะ' },
        { value: 'วาตะ', text: 'วาตะ' },
        { value: 'ปิตตะ', text: 'ปิตตะ' }
      ],
      AgeOptions: [
        { value: 'ปฐมวัย', text: 'ปฐมวัย' },
        { value: 'มัชฌิมวัย', text: 'มัชฌิมวัย' },
        { value: 'ปัจฉิมวัย', text: 'ปัจฉิมวัย' }
      ],
      TimeOptions: [
        { value: 'เสมหะ', text: 'เสมหะ' },
        { value: 'วาตะ', text: 'วาตะ' },
        { value: 'ปิตตะ', text: 'ปิตตะ' }
      ],
      BornAreaOptions: [
        { value: 'ปถวี', text: 'ปถวี' },
        { value: 'อาโป', text: 'อาโป' },
        { value: 'วาโย', text: 'วาโย' },
        { value: 'เตโช', text: 'เตโช' }
      ],
      LivingAreaOptions: [
        { value: 'ปถวี', text: 'ปถวี' },
        { value: 'อาโป', text: 'อาโป' },
        { value: 'วาโย', text: 'วาโย' },
        { value: 'เตโช', text: 'เตโช' }
      ],
      CauseOfSymptomOptions: [
        { value: 'อาหาร', text: 'อาหาร' },
        { value: 'อิริยาบถ', text: 'อิริยาบถ' },
        { value: 'ความร้อน เย็น', text: 'ความร้อน เย็น' },
        { value: 'อดนอน อดข้าว อดน้ำ', text: 'อดนอน อดข้าว อดน้ำ' },
        {
          value: 'กลั้นอุจจาระปัสสาวะ',
          text: 'กลั้นอุจจาระปัสสาวะ'
        },
        { value: 'ทำงานเกินกำลัง', text: 'ทำงานเกินกำลัง' },
        { value: 'ความเศร้าโศกเสียใจ', text: 'ความเศร้าโศกเสียใจ' },
        { value: 'ความโกรธ', text: 'ความโกรธ' },
        { value: 'อื่นๆ.', text: 'อื่นๆ' }
      ]
    }
  },
  computed: {
    customerId() {
      return this.$route.params.id 
    }
  },
   mounted () {
    this.getMedicalDiagnosisById();
  },
  methods: {
    async getMedicalDiagnosisById () {
      const { status, data } = await this.$api.get(
        `/medicalDiagnosis/${this.$route.params.id}`
      )
      if (status === 200) {
        this.medicalDiagnosis = data.data
      }
    },
    async editMedicalDiagnosis() {
      await this.$api.put(`/medicalDiagnosis/${this.$route.params.id}`, this.medicalDiagnosis)
        .then((response) => {   
          if(response.status === 200) {
            router.push({ name: 'medicalDiagnosis', params: { id: this.$route.params.customerId}}) 
          }
        })    
        .catch((errors) => {    
          console.log(errors)    
        })
    },
    backToMedicalDiagnosis() {
      router.push({ name: 'medicalDiagnosis', params: { id: this.$route.params.customerId}})
    }
  }
}
</script>

<style>
/* .mt-3 {
  background: #8c9086 !important;
  color: rgb(7, 2, 2) !important;
} */
</style>
