<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        รายละเอียดข้อมูลทั่วไป
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        รายละเอียดข้อมูลทั่วไป
      </h5>
      <div class="container pb-2">
        <div>
          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>เลขที่บัตร: {{ customer.customerNumber }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>ชื่อ-สกุล: {{ customer.name }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>เพศ: {{ textGender }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>วัน/เดือน/ปีเกิด: {{ birthdate }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>อายุ: {{ customer.age }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>สถานะ: {{ textCustomerStatus }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>เชื้อชาติ: {{ customer.nationality }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>สัญชาติ: {{ customer.citizenship }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>ศาสนา: {{ customer.religion }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>อาชีพ: {{ customer.job }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>เลขที่บัตรประชาชน: {{ customer.idCard }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>สถานที่เกิด: {{ customer.placeBirth }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>จังหวัด: {{ customer.province }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>ที่อยู่ปัจจุบัน: {{ customer.presentAddress }}</p>
            </b-col>
          </b-row>

          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>โทรศัพท์: {{ customer.tel }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>สิทธิในการรักษา: {{ claim }}</p>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
    <br />
    <b-button
      variant="secondary"
      size="lg"
      class="float-right"
      @click="backToCustomer"
    >
      กลับ</b-button
    >
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      customer: {
        customerNumber: '',
        name: '',
        gender: '',
        birthdate: new Date(),
        age: 0,
        customerStatus: '',
        nationality: '',
        citizenship: '',
        religion: '',
        job: '',
        idCard: '',
        placeBirth: '',
        province: '',
        presentAddress: '',
        tel: '',
        claim: 0
      }
    }
  },
  mounted () {
    this.getCustomerById()
  },
  computed: {
    birthdate () {
      const date = new Date(this.customer.birthdate)
      return date.toLocaleDateString('th-TH', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })
    },
    claim () {
      if (this.customer.claim === 0) {
        return (this.customer.claim = 'เบิกไม่ได้')
      } else {
        return (this.customer.claim = 'เบิกได้')
      }
    },
    textGender: function () {
      if (this.customer.gender === 'MEN') {
        return (this.customer.gender = 'ชาย')
      } else {
        return (this.customer.gender = 'หญิง')
      }
    },
    textCustomerStatus: function () {
      if (this.customer.customerStatus === 'SINGLE') {
        return (this.customer.gender = 'โสด')
      } else if (this.customer.customerStatus === 'MARRID') {
        return (this.customer.gender = 'คู่')
      } else if (this.customer.customerStatus === 'WIDOWED') {
        return (this.customer.gender = 'หม้าย')
      } else if (this.customer.customerStatus === 'DIVORCED') {
        return (this.customer.gender = 'หย่า')
      } else if (this.customer.customerStatus === 'SEPARATED') {
        return (this.customer.gender = 'แยกกันอยู่')
      } else {
        return (this.customer.gender = 'บวช')
      }
    }
  },
  methods: {
    async getCustomerById () {
      const { status, data } = await this.$api.get(
        `/customers/${this.$route.params.id}`
      )
      if (status === 200) {
        this.customer = data.data
      }
    },
    backToCustomer () {
      router.push({ name: 'customers' })
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
body {
  background: #e7e7e7 !important;
}
</style>
