<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        แก้ไขข้อมูลทั่วไป
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        แก้ไขข้อมูลทั่วไป
      </h5>
      <div class="container pb-2">
        <div>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="เลขที่บัตร"
            label-for="input-horizontal"
          >
            <b-form-input
              id="input-horizontal"
              style="width: 240px;"
              v-model="customer.customerNumber"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ชื่อ-สกุล"
            label-for="input-horizontal"
          >
            <b-form-input id="name" v-model="customer.name"></b-form-input>
          </b-form-group>
          <b-form-group
            label-cols-sm="4"
            label-cols-lg="3"
            label="เพศ"
            label-for="input-horizontal"
          >
            <b-form-radio-group
              id="gender"
              class="pt-3"
              :options="genderOptions"
              v-model="customer.gender"
            ></b-form-radio-group>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="วัน เดือน ปีเกิด"
            label-for="input-horizontal"
          >
            <b-form-datepicker
              :date-format-options="{
                year: 'numeric',
                month: 'long',
                day: '2-digit'
              }"
              locale="th"
              id="example-datepicker2"
              placeholder="วัน/เดือน/ปี"
              class="mb-2"
              style="width: 240px;"
              v-model="customer.birthdate"
              trim
            ></b-form-datepicker>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="อายุ"
            label-for="input-horizontal"
          >
            <b-form-input
              type="number"
              id="name"
              style="width: 240px;"
              v-model="customer.age"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label-cols-sm="4"
            label-cols-lg="3"
            label="สถานภาพ"
            label-for="input-horizontal"
          >
            <b-form-radio-group
              id="status"
              class="pt-3"
              :options="customerStatusOptions"
              v-model="customer.customerStatus"
            ></b-form-radio-group>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="เชื้อชาติ"
            label-for="input-horizontal"
          >
            <b-form-select
              :options="raceOptions"
              style="width: 240px;"
              v-model="customer.nationality"
            ></b-form-select>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="สัญชาติ"
            label-for="input-horizontal"
          >
            <b-form-select
              :options="nationalityOptions"
              style="width: 240px;"
              v-model="customer.citizenship"
            ></b-form-select>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ศาสนา"
            label-for="input-horizontal"
          >
            <b-form-select
              :options="religionOptions"
              style="width: 240px;"
              v-model="customer.religion"
            ></b-form-select>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="อาชีพ"
            label-for="input-horizontal"
          >
          <b-form-input
              style="width: 240px;"
              v-model="customer.job"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="เลขที่บัตรประชาชน"
            label-for="input-horizontal"
          >
            <b-form-input
              type="number"
              id="name"
              style="width: 240px;"
              v-model="customer.idCard"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="สถานที่เกิด"
            label-for="input-horizontal"
          >
            <b-form-input
              id="placeofbirth"
              v-model="customer.placeBirth"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="จังหวัด"
            label-for="input-horizontal"
          >
            <b-form-input
              id="province"
              v-model="customer.province"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="ที่อยู่ปัจจุบัน"
            label-for="input-horizontal"
          >
            <b-form-textarea
              id="presentAddress"
              v-model="customer.presentAddress"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
          <b-form-group
            id="fieldset-horizontal"
            label-cols-sm="4"
            label-cols-lg="3"
            label="โทรศัพท์"
            label-for="input-horizontal"
          >
            <b-form-input
              type="number"
              id="tel"
              v-model="customer.tel"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label-cols-sm="4"
            label-cols-lg="3"
            label="สิทธิในการรักษา"
            label-for="input-horizontal"
          >
            <b-form-select
              :options="claimOptions"
              style="width: 240px;"
              v-model="customer.claim"
            ></b-form-select>
          </b-form-group>
        </div>
      </div>
    </div>
    <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToCustomer"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="primary"
        size="lg"
        style="margin-top: 9px"
        @click="editData"
        >ยืนยัน</b-button
      >
    </div>
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      customer: {
        customerNumber: '',
        name: '',
        gender: '',
        birthdate: new Date(),
        age: 0,
        customerStatus: '',
        nationality: '',
        citizenship: '',
        religion: '',
        job: '',
        idCard: '',
        placeBirth: '',
        province: '',
        presentAddress: '',
        tel: '',
        claim: 0
      },
      genderOptions: [
        { value: 'MEN', text: 'ชาย' },
        { value: 'WOMEN', text: 'หญิง' }
      ],
      customerStatusOptions: [
        { value: 'SINGLE', text: 'โสด' },
        { value: 'MARRID', text: 'คู่' },
        { value: 'WIDOWED', text: 'หม้าย' },
        { value: 'DIVORCED', text: 'หย่า' },
        { value: 'SEPARATED', text: 'แยกกันอยู่' },
        { value: 'MONK', text: 'บวช' }
      ],
      raceOptions: [
        { value: 'ไทย', text: 'ไทย' },
        { value: 'ลาว', text: 'ลาว' },
        { value: 'กัมพูชา', text: 'กัมพูชา' },
        { value: 'พม่า', text: 'พม่า' },
        { value: 'อื่นๆ', text: 'อื่นๆ' }
      ],
      nationalityOptions: [
        { value: 'ไทย', text: 'ไทย' },
        { value: 'ลาว', text: 'ลาว' },
        { value: 'กัมพูชา', text: 'กัมพูชา' },
        { value: 'พม่า', text: 'พม่า' }
      ],
      religionOptions: [
        { value: 'พุทธ', text: 'พุทธ' },
        { value: 'คริสต์', text: 'คริสต์' },
        { value: 'อิสลาม', text: 'อิสลาม' }
      ],
      jobOptions: [
        { value: 'เกษตรกร‎', text: 'เกษตรกร‎' },
        { value: 'นักเขียน', text: 'นักเขียน' },
        { value: 'ข้าราชการ', text: 'ข้าราชการ‎' },
        { value: 'ช่างทำผม‎', text: 'ช่างทำผม‎' },
        { value: 'ช่างซ่อม', text: 'ช่างซ่อม' },
        { value: 'รับจ้าง', text: 'รับจ้าง' },
        { value: 'อื่นๆ.. ', text: 'อื่นๆ.. ' }
      ],
      claimOptions: [
        { value: 1, text: 'เบิกได้' },
        { value: 0, text: 'เบิกไม่ได้' }
      ]
    }
  },
  mounted () {
    this.getCustomerById()
  },
  methods: {
    async editData () {
      this.customer.birthdate = this.customer.birthdate.toString().slice(0, 10)
      await this.$api
        .put(`/customers/${this.$route.params.id}`, this.customer)
        .then(response => {
          if (response.status === 200) {
            router.push({ name: 'customers' })
          }
        })
        .catch(errors => {
          console.log(errors)
        })
    },
    async getCustomerById () {
      const { status, data } = await this.$api.get(
        `/customers/${this.$route.params.id}`
      )
      if (status === 200) {
        this.customer = data.data
      }
    },
    backToCustomer() {
      router.push({ name: 'customers'})
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
body {
  background: #e7e7e7 !important;
}
</style>
