<template>
  <div>
    <b-container>
      <div class="shadows mt-3 bg-light">
        <h1 class="title-header p-3 d-sm-block d-none">รายชื่อคนไข้</h1>
        <h5 class="title-header p-3 d-sm-none d-block">รายชื่อคนไข้</h5>

        <div class="container pb-2">
           <b-row>
            <b-col sm>
              <b-form-group
                id="fieldset-horizontal"
                label="ค้นหารายชื่อคนไข้"
                label-cols-sm="4"
            label-cols-lg="4"
                label-for="input-horizontal"
              >
                <b-input-group size="sm">
                  <b-input-group-prepend is-text>
                    <b-icon icon="search"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    type="search"
                    placeholder="รหัสผู้ป่วย / รหัสบัตรประชาชน / ชื่อ"
                    v-model="keyword"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <!-- <b-col sm>
              <b-form-group
                id="fieldset-horizontal"
                label="เลขที่บัตรประชาชน"
                label-for="input-horizontal"
              >
                <b-input-group size="sm" class="mb-2">
                  <b-input-group-prepend is-text>
                    <b-icon icon="search"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    type="search"
                    placeholder="ค้นหา เลขที่บัตรประชาชน"
                    v-model="keyword"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="fieldset-horizontal"
                label="ชื่อ-สกุล"
                label-for="input-horizontal"
              >
                <b-input-group size="sm" class="mb-2">
                  <b-input-group-prepend is-text>
                    <b-icon icon="search"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    type="search"
                    placeholder="ค้นหา ชื่อ-สกุล"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col> -->
            <b-col sm>
               <b-button
            variant="success"
            class="float-right"
            to="/customers/create"
            >คนไข้รายใหม่</b-button>
            </b-col>
          </b-row>

          <div style="overflow-x:auto;">
            <b-table
              striped
              hover
              class="table"
              :items="items"   
              :fields="fields"
              :thead-class="'thead-gray'"
              :table-class="'tbody-white'"
          >
            <template v-slot:cell(operation)="data">
              <b-button variant="primary" @click="detailCustomer(data)">รายละเอียด</b-button>
              &nbsp;
              <b-button variant="warning" @click="editCustomer(data)" v-show="status === 'ADMIN' || status ==='DOCTOR'" 
                >แก้ไข</b-button
              >
               &nbsp;
              <b-button variant="info" @click="recordKeeping(data)">บันทึกการรักษา</b-button>
            </template>
          </b-table>
          </div>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import router from '../../router';
export default {
  data () {
    return {
      fields: [
        { key: 'customerNumber', label: 'รหัสผู้ป่วย', class: 'text-center align-middle', sortable: true },
        {
          key: 'idCard',
          label: 'รหัสบัตรประชาชน',
          class: 'text-center align-middle'
        },
        {
          key: 'name',
          label: 'ชื่อ-สกุล',
          class: 'text-center align-middle'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center align-middle'
        }
      ],
      customers: [],
      keyword: '',
      status: ''
    }
  },
  mounted () {
    this.getCustomers();
    this.getUser();
    this.getStatusUser();
  },
  methods: {
    editCustomer(data) {
      router.push({ name: 'customers.edit', params: { id: data.item.id }})
    },
    detailCustomer(data) {
      router.push({ name: 'customers.detail', params: { id: data.item.id }})
    },
    recordKeeping(data) {
      router.push({ name: 'medicalHistory', params: { id: data.item.id }})
    },
    async getCustomers() {
      const { status, data } = await this.$api.get("/customers")
      
      if (status ===  200) {
        this.customers = data.data
      }
    },
    async getUser() {
      const { status, data } = await this.$api.get("/users")
      if (status ===  200) {
        this.users = data.data
      }
    },
    async getStatusUser () {
      if (localStorage.getItem('user')) {
        const user = await JSON.parse(localStorage.getItem('user'))
        this.status = user.status
      }
    },
  },
  computed: {
    items() {
      return this.keyword
        ? this.customers.filter(item => item.customerNumber.includes(this.keyword) || item.idCard.includes(this.keyword) || item.name.includes(this.keyword))
        : this.customers
    }
  },
}
</script>

<style>
@media screen and (min-width: 320px) and (max-width: 400px) {
.table {
    font-size: 80% !important;
}
}

body {
  background: #e7e7e7 !important;
}
.thead-gray {
  background-color: #cacaca !important;
  color: black !important;
}
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
