<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        เพิ่มชื่อผู้ใช้
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        เพิ่มชื่อผู้ใช้
      </h5>

      <div class="container pb-2">
        <div>
          <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ชื่อผู้ใช้"
              >
                <b-form-input v-model="users.username"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ชื่อ-สกุล"
                label-for="namedrug"
              >
                <b-form-input v-model="users.name"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="อีเมล์"
                label-for="namedrug"
              >
                <b-form-input v-model="users.email"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="รหัสผ่าน"
                label-for="namedrug"
              >
                <b-form-input v-model="users.password"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-form-group
            label-cols-sm="4"
            label-cols-lg="2"
            label="สถานะ"
          >
            <b-form-radio-group
              class="pt-3"
              :options="statusOptions"
              v-model="users.status"
            >
            </b-form-radio-group>
          </b-form-group>
          <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="2"
                label="เลขที่บป/พท.ป"
          >
                <b-form-input 
                style="width: 259px;"
                v-model="users.certificateNumber">
                </b-form-input>
          </b-form-group>
        </div>
      </div>
    </div>
    <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToUser()"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="success"
        size="lg"
        style="margin-top: 9px"
        @click="addUser()"
        >บันทึก</b-button
      >
    </div>
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      statusOptions: [
        { text: 'เจ้าหน้าที่แพทย์แผนไทย', value: 'DOCTOR' },
        { text: 'อาจารย์แพทย์แผนไทย', value: 'TEACHER' },
        { text: 'ผู้ดูแลระบบ', value: 'ADMIN' }
      ],
      users: {
        name: '',
        username: '',
        password: '',
        email: '',
        status: '',
        certificateNumber: ''
      }
    }
  },
  methods: {
    async addUser () {
      await this.$api
        .post('/users', this.users)
        .then(response => {
          if (response.status === 200) {
            router.push({ name: 'user' })
          }
        })
        .catch(errors => {
          console.log(errors)
        })
    },
    backToUser() {
      router.push({ name: 'user'})
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
