<template>
  <div class="container mt-5">
     <div class="shadows mt-3 bg-light ">
    <!-- <b-card class="mt-5 text-center">
      
      <div class="bg-white text-center p-5 mt-3 center">
        <b-form-group label="ชื่อผู้ใช้" label-cols-sm="3">
        <b-form-input v-model="users.username" disabled ></b-form-input> </b-form-group
      ><b-form-group label="รหัสผ่าน" label-cols-sm="3">
        <b-form-input v-model="users.password"></b-form-input>
      </b-form-group>
      </div>
    
      
    </b-card> -->
    <h2 class="title-header p-3 d-sm-block d-none">
        แก้ไขรหัสผู้ใช้งาน
      </h2>
      <h5 class="title-header p-3 d-sm-none d-block">
        แก้ไขรหัสผู้ใช้งาน
      </h5>
       <div class="p-5 m-5 center">
        <b-form-group label="ชื่อผู้ใช้" label-cols-sm="3">
        <b-form-input v-model="users.username" disabled ></b-form-input> </b-form-group
      ><b-form-group label="รหัสผ่าน" description="กรุณากรอกรหัสผ่านใหม่" label-cols-sm="3">
        <b-form-input v-model="users.password"></b-form-input>
      </b-form-group>
      </div>
     </div>

    <div class="float-right">
      <b-button
        variant="secondary"
        size="lg"
        style="margin-top: 9px"
        @click="backToUsers"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="primary"
        size="lg"
        style="margin-top: 9px"
        @click="editPass()"
        >ยืนยัน</b-button
      >
    </div>
    <!-- <b-button
      variant="success"
      class="float-right"
      size="lg"
      style="margin-top: 9px"
      @click="editUser()"
      >ยืนยัน</b-button
    > -->
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      users: {
        name: '',
        username: '',
        password: '',
        email: '',
        status: '',
        certificateNumber: ''
      }
    }
  },
  mounted () {
    this.getUsernameForEditPass()
  },
  methods: {
    async editPass () {
      await this.$api
        .put(`/users/pass/${this.$route.params.id}`, this.users)
        .then(response => {
          if (response.status === 200) {
            router.push({ name: 'user.edit' })
          }
        })
        .catch(errors => {
          console.log(errors)
        })
    },
    async getUsernameForEditPass () {
      const { status, data } = await this.$api.get(
        `/users/username/${this.$route.params.id}`
      )
      if (status === 200) {
        this.users = data.data
      }
    },
    backToUsers () {
      router.push({ name: 'user.edit' })
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
