<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        แก้ไขข้อมูลผู้ใช้งาน
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        แก้ไขข้อมูลชื่อผู้ใช้งาน
      </h5>

      <div class="container pb-2">
        <div>
          <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ชื่อ-สกุล"
                label-for="namedrug"
              >
                <b-form-input v-model="users.name"></b-form-input>
              </b-form-group>
              <!-- <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ชื่อผู้ใช้"
              >
                <b-form-input v-model="users.username"></b-form-input>
              </b-form-group> -->
            </b-col>
            <b-col>
               <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="อีเมล์"
              >
                <b-form-input v-model="users.email"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <!-- <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="อีเมล์"
              >
                <b-form-input v-model="users.email"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="รหัสผ่าน"
              >
                <b-form-input v-model="users.password"></b-form-input>
              </b-form-group>
            </b-col>
          </b-row> -->
          <b-form-group
            label-cols-sm="4"
            label-cols-lg="2"
            label="สถานะ"
          >
            <b-form-radio-group
              id="gender"
              class="pt-3"
              :options="statusOptions"
              v-model="users.status"
            ></b-form-radio-group>
          </b-form-group>
          <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="4"
                label-cols-lg="2"
                label="เลขที่บป/พท.ป"
          >
                <b-form-input 
                style="width: 259px;"
                v-model="users.certificateNumber">
                </b-form-input>
          </b-form-group>
        </div>
      </div>
    </div>
<br>

<!-- ทำpassword -->
        <!-- <div class="shadows mt-3 bg-light ">
          <h1 class="title-header p-3 d-sm-block d-none">
        แก้ไขรหัสผ่าน
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        แก้ไขรหัสผ่าน
      </h5>
      <div class="container pb-2">
        <p>หากผู้ใช้งานต้องการเปลี่ยนรหัสผ่าน</p>
      </div>
        </div> -->

          <!-- <div class="card">
        <div class="card-header">
          <h2>แก้ไขรหัสผ่าน</h2>
        </div>
        <div class="card-body" style="background-color:FCFCFC">
          <div style="clear:both">
            <p style="clear:both">หากผู้ใช้งานต้องการแก้ไขรหัสผ่าน</p>
    <b-button variant="warning" class="float-right" @click="editUserPass()"> แก้ไขรหัสผ่าน</b-button>

   
  </div>
        </div>
        
      </div> -->

       <div class="shadows mt-3 bg-light ">
         <h1 class="title-header p-3 d-sm-block d-none">
        แก้ไขรหัสผ่าน
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        แก้ไขรหัสผ่าน
      </h5>
      <div class="container pb-2 mt-3 clearfix">
         <p class="float-left">หากผู้ใช้งานต้องการแก้ไขรหัสผ่าน</p>
    <b-button class="float-right" variant="warning" @click="editUserPass()">แก้ไขรหัสผ่าน</b-button>
      </div>
       </div>

    <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToUsers"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="primary"
        size="lg"
        style="margin-top: 9px"
        @click="editUser()"
        >ยืนยัน</b-button
      >
    </div>
    <!-- <b-button
      variant="success"
      class="float-right"
      size="lg"
      style="margin-top: 9px"
      @click="editUser()"
      >ยืนยัน</b-button
    > -->
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      statusOptions: [
        { text: 'เจ้าหน้าที่แพทย์แผนไทย', value: 'DOCTOR' },
        { text: 'อาจารย์แพทย์แผนไทย', value: 'TEACHER' },
        { text: 'ผู้ดูแลระบบ', value: 'ADMIN' }
      ],
      users: {
        name: '',
        username: '',
        password: '',
        email: '',
        status: '',
        certificateNumber: ''
      },
    }
  },
  mounted () {
    this.getUserById()
  },
  methods: {
    async editUser () {
      await this.$api
        .put(`/users/${this.$route.params.id}`, this.users)
        .then(response => {
          if (response.status === 200) {
            router.push({ name: 'user' })
          }
        })
        .catch(errors => {
          console.log(errors)
        })
    },
    async getUserById () {
      console.log("kp");
      const { status, data } = await this.$api.get(
        `/users/${this.$route.params.id}`
      )
      if (status === 200) {
        this.users = data.data
      }
    },
    backToUsers () {
      router.push({ name: 'user' })
    },
    editUserPass () {
      router.push({ name: 'user.editPass' })
    },
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
.card-header {
  background-color: #8c9086;
  color: white;
}
</style>
