<template>
  <div>
    <b-container>
      <div class="shadows mt-3 bg-light">
        <h1 class="title-header p-3 d-sm-block d-none">
          ตั้งค่าผู้ใช้งาน
        </h1>
        <h5 class="title-header p-3 d-sm-none d-block">
          ตั้งค่าผู้ใช้งาน
        </h5>
        <div class="container pb-2">
          <b-row>
            <b-col sm>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-lg="3"
                label="ค้นหาชื่อผู้ใช้"
                label-for="input-horizontal"
              >
                <b-input-group size="sm">
                  <b-input-group-prepend is-text>
                    <b-icon icon="search"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    type="search"
                    placeholder="ชื่อผู้ใช้"
                    v-model="keyword"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>

            <b-col>
              <b-button variant="success" class="float-right" to="/user/create"
                >เพิ่มชื่อผู้ใช้</b-button
              >
            </b-col>
          </b-row>

          <div style="overflow-x:auto;">
            <b-table
              striped
              hover
              :items="items"
              :fields="fields"
              :thead-class="'thead-gray'"
              :table-class="'tbody-white'"
            >
              <template v-slot:cell(operation)="data">
                <b-button variant="warning" @click="goToEditUser(data)"
                  >แก้ไข</b-button
                >&nbsp;
                <b-button
                  variant="danger"
                  @click="showModal(data)"
                  v-b-modal.modal-center
                  >ลบ</b-button
                >
              </template> 
              </b-table>
          </div>
        </div>
      </div>
    </b-container>
    <b-modal
      id="modal-center" 
      centered title="ต้องการลบผู้ใช้งานนี้ใช่หรือไม่"
      ref="delete-modal"
      hide-footer
       >
      <b-button @click="deleteUser()" variant="danger" class="float-right" style="margin: 2px">ใช่</b-button>
      &nbsp;
      <b-button @click="hideModal()" class="float-right" style="margin: 2px">ไม่</b-button>
    </b-modal>
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      userId: 0,
      fields: [
        {
          key: 'username',
          label: 'ชื่อผู้ใช้',
          class: 'text-center align-middle'
        },
        {
          key: 'name',
          label: 'ชื่อ-นามสกุล',
          class: 'text-center align-middle'
        },

        {
          key: 'email',
          label: 'อีเมล์',
          class: 'text-center align-middle'
        },

        {
          key: 'status',
          label: 'สถานะ',
          class: 'text-center align-middle'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center align-middle'
        }
      ],
      users: [],
      keyword: ''
    }
  },
  mounted () {
    this.getUser()
  },
  methods: {
    showModal (data) {
      this.userId = data.item.id
      this.$refs['delete-modal'].show()
    },
    hideModal () {
      this.$refs['delete-modal'].hide()
    },
    async getUser () {
      const { status, data } = await this.$api.get('/users')
      if (status === 200) {
        this.users = data.data
      }
    },
    goToEditUser (data) {
      router.push({ name: 'user.edit', params: { id: data.item.id } })
    },
    async deleteUser () {
      const { status, data } = await this.$api.delete(`/users/${this.userId}`)
      if (status === 200) {
        const { status, data } = await this.$api.get('/users')
        if (status === 200) {
          this.users = data.data
        }
        this.hideModal()
      }
    },
  },
  computed: {
    items () {
      return this.keyword
        ? this.users.filter(item => item.username.includes(this.keyword))
        : this.users
    }
  }
}
</script>

<style>
body {
  background: #e7e7e7 !important;
}
.thead-gray {
  font-size: 17px;
  background-color: #cacaca !important;
  color: black !important;
}
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
