<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        เพิ่มรายการยา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        เพิ่มรายการยา
      </h5>
      <!-- <menu-companent :customerId="customerId"></menu-companent> -->
      <div class="container pb-2">
        <div>
          <b-row>
            <b-col>
                  <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ชื่อยา"
                label-for="namedrug"
              >
                <b-form-select
                  :options="drugNameOptions"
                  value-field="id"
                  text-field="drugName"
                  v-model="medicinePrescription.drugName"
                ></b-form-select>
                <!-- <b-form-input
                  v-model="drugNameOptions"
                  value-field="drugName"
                  text-field="drugName"
                ></b-form-input> -->
              </b-form-group>
              
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="3"
                label="เลขที่ยา"
                label-for="namedrug"
              >
                <b-form-select
                  :options="drugNumberOptions"
                  value-field="drugNumber"
                  text-field="drugNumber"
                  v-model="medicinePrescription.drugNumber"
                ></b-form-select>
                <!-- <b-form-input
                  id="number"
                  v-model="medicinePrescription.drugNumber"
                ></b-form-input> -->
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
             <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ประเภทยา"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="TypeOptions"
                  v-model="medicinePrescription.type"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="3"
                label="จำนวน"
                label-for="namedrug"
              >
                <b-form-input
                  type="number"
                  v-model="medicinePrescription.amount"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-button
            variant="success"
            size="md"
            style="margin: 9px;"
            class="float-right"
            @click="addMedicine"
            >เพิ่มยา</b-button>
        <br/>
        </div>
        <br/>
         <b-table 
            striped
            hover
            :items="medicinePrescriptionList"
            :fields="fields"
            :thead-class="'thead-gray'"
            :table-class="'tbody-white'"
            
          >
            <template v-slot:cell(operation)="data">
              <b-button variant="danger" @click="deleteSelected(data.index)">ลบ</b-button>
            </template>
          </b-table>
          
      </div>
    </div>
    <div class="float-right">
      <!-- <b-button
        variant="secondary"
        size="lg"
        style="margin-top: 9px"
        @click="backToTreatment"
        >กลับ</b-button
      > -->
      &nbsp;
      <b-button
        variant="success"
        size="lg"
        style="margin-top: 9px"
        @click="saveAll()"
        >ถัดไป</b-button
      >

    </div>
     <!-- <b-modal
      id="modal-center" 
      centered title="ต้องการลบรายการยานี้ใช่หรือไม่"
      ref="delete-Medicine-modal"
      hide-footer
       >
      <b-button @click="deleteSelected(index)" variant="danger" class="float-right" style="margin: 2px">ใช่</b-button>
      &nbsp;
      <b-button @click="hideModalMedicine()" class="float-right" style="margin: 2px">ไม่</b-button>
    </b-modal> -->
  </div>
</template>

<script>
import router from '@/router'
// import MenuCompanent from '../../components/MenuCompanent.vue'
import { mapState } from 'vuex'
export default {
  // components: {
  //   MenuCompanent
  // },
  data () {
    return {
      medicineId: 0,
      TypeOptions: [
        { value: '1', text: '1' },
        { value: '2', text: '2' },
        { value: '3', text: '3' },
        { value: '4', text: '4' }
      ],
      fields: [
        {
          key: 'type',
          label: 'ประเภทยา',
          class: 'text-center align-middle'
        },
        { key: 'drugNumber', label: 'เลขที่ยา', class: 'text-center align-middle' },

        {
          key: 'drugNameSet',
          label: 'ชื่อยา',
          class: 'text-center align-middle'
        },
        {
          key: 'amount',
          label: 'จำนวน',
          class: 'text-center align-middle'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center align-middle'
        }
      ],
      medicinePrescriptionList: [],
      medicinePrescription: {
        type: '',
        drugNumber: '',
        drugName: '',
        amount: 0
      },
      drugNumberOptions: [],
      drugNameOptions: [],
      initialNumber: 0,
      drugId: 0,
      drugs: {}
    }
  },
  computed: {
    ...mapState(['savedMedicalHistory']),
    ...mapState(['savePhysicalExamination']),
    ...mapState(['saveMedicalDiagnosis']),
    ...mapState(['saveTreatment']),
    ...mapState(['saveMedicinePrescription']),
    // ...mapState(['saveListMedicine']),
    customerId () {
      return this.$route.params.id
    },
    // drugNumber () {
    //   return this.medicinePrescriptionList.drugName = drug.drugName
    // }
    
  },
  mounted () {
    this.getAllDrugNumber()
    this.getAllDrugName()
    this.medicinePrescription = {...this.saveMedicinePrescription}
    this.$store.commit('updateMPValue', this.medicinePrescription)
    // this.medicinePrescriptionList = {...this.saveListMedicine}
    
    
  },
  watch: {
    'medicinePrescription.drugName': function (newValue, oldValue) {
      this.getDrugById(newValue)
    }
  },
  methods: {
     async addMedicine() {
      const { data } = await this.$api.get(`/drugs/${this.medicinePrescription.drugName}`)
      const name = data.data.drugName
      this.medicinePrescriptionList.push({...this.medicinePrescription, drugNameSet: name})
    },
    async getDrugById (id) {
      await this.$api.get(`/drugs/${id}`)
        .then(response => {
          if (response.status === 200) {
            const drug = response.data.data
            this.medicinePrescription.drugNumber = drug.drugNumber
            this.medicinePrescription.type = drug.type
            this.initialNumber = drug.amount
            this.drugId = drug.id
          }
        })
        .catch(errors => {
          console.log(errors)
        })
    },
    async saveAll () {
      const { data } = await this.addMedicalhistory()
      const medicalHistoryId = data.data.insertId
      await this.addPhysicalExamination()
      await this.addMedicalDiagnosis()
      await this.addTreatment()
      await this.addListMedicine(medicalHistoryId)
      
      this.clear()
      router.push({ name: 'medicalCertificate.create' })
    },
    async addListMedicine(medicalHistoryId) {
      await this.medicinePrescriptionList.forEach(element  =>
        this.addMedicinePrescription(element, medicalHistoryId)
      )
    },
    async addMedicinePrescription (element, medicalHistoryId) {
      if (this.medicinePrescription.amount > this.initialNumber) {
        alert('จำนวนยาไม่พอ')
      }
      console.log("cu", element);
      const req = {
        customerId: this.$route.params.id,
        drugName: element.drugName,
        drugNumber: element.drugNumber,
        type: element.type,
        amount: element.amount,
        medicalHistoryId: medicalHistoryId
      }

      try {
        await this.$api.post(
          `/medicinePrescription/customer/${this.$route.params.id}/drug/${element.drugName}`,
          req
        )
      } catch (error) {
        console.log(error)
      }
    },
    async addTreatment () {

      const req = {
        ...this.saveTreatment,
        currentDate: this.savedMedicalHistory.currentDate
      }
      try {
        await this.$api.post(`/treatments/customer/${this.$route.params.id}`, req)
      } catch (errors) {
        console.log(errors)
      }
    },
    async addMedicalhistory () {
      
      try {
        return await this.$api.post(`/medicalHistory/customer/${this.$route.params.id}`,this.savedMedicalHistory)
      } catch (errors) {
        console.log(errors)
      }   
    },
    async addPhysicalExamination () {
      const req = {
        ...this.savePhysicalExamination,
        currentDate: this.savedMedicalHistory.currentDate
      }
      try {
        await this.$api.post(`/physicalExamination/customer/${this.$route.params.id}`, req)
      } catch (errors) {
        console.log(errors)
      }  
    },
    async addMedicalDiagnosis () {
      const req = {
        ...this.saveMedicalDiagnosis,
        currentDate: this.savedMedicalHistory.currentDate
      }
      try {
        await this.$api
        .post(
          `/medicalDiagnosis/customer/${this.$route.params.id}`, req)
      } catch (errors) {
        console.log(errors)
      }  
    },
    async getAllDrugNumber () {
      const { status, data } = await this.$api.get('/drugs')
      if (status === 200) {
        this.drugNumberOptions = data.data
      }
    },
    async getAllDrugName () {
      const { status, data } = await this.$api.get('/drugs')
      if (status === 200) {
        this.drugNameOptions = data.data
      }
    },
    backToTreatment () {
      router.push({
        name: 'treatmentPlan.create',
        params: { id: this.$route.params.id }
      })
    },
    clear () {
      this.$store.commit('updateMHValue', {
        currentDate: new Date(),
        time: '',
        symptoms: '',
        currentHistory: '',
        pastHistory: '',
        familyHistory: '',
        personalHistory: ''
      })
      this.$store.commit('updatePhyEValue', {
        temp: '',
        pulse: '',
        respirationRate: '',
        bp: '',
        height: '',
        weight: '',
        bmi: '',
        painScore: '',
        painfulArea: '',
        detailedPhysicalExamination: ''
      })
      this.$store.commit('updateMDValue', {
        elementaryPrinciples: '',
        seasonalPrinciples: '',
        agePrinciples: '',
        timePrinciples: '',
        geographicalPlaceOfBirth: '',
        geographicalPresentAddress: '',
        causeOfSymptoms: '',
        summaryOfSickness: '',
        diagnosisBasedOfTheFourElements: '',
        diseaseDiagnosis: '',
        modernMedicalDiagnosis: ''
      })
      this.$store.commit('updateTMValue', {
        treatmentPlan: '',
        thaiHerbalCompressMassage: '',
        herbalSteam: '',
        operative: '',
        evaluationAfterTreatments: '',
        painScore: '',
        examinationDetails: '',
        suggestions: '',
        appointmentDate: ''
      })
      this.$store.commit('updateMPValue', {
        type: '',
        drugNumber: '',
        drugName: '',
        amount: 0
      })
    },
    deleteSelected(index) {

      this.medicinePrescriptionList.splice(index, 1)
      // this.hideModalMedicine()
    }
    
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
.thead-gray {
  font-size: 17px;
  background-color: #cacaca !important;
  color: black !important;
}
body {
  background: #e7e7e7 !important;
}
</style>
