<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        รายละเอียดรายการยา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        รายละเอียดรายการยา
      </h5>

      <div class="container pb-2">
        <div>
          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>ประเภทยา: {{ medicinePrescription.type }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>เลขที่ยา: {{ medicinePrescription.drugNumber }}</p>
            </b-col>
          </b-row>
          <b-row class="text-left">
            <b-col sm="12" md="6">
              <p>ชื่อยา: {{ medicinePrescription.drugName }}</p>
            </b-col>
            <b-col sm="12" md="6">
              <p>จำนวน: {{ medicinePrescription.amount }}</p>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
    <br/>
       <b-button
      variant="success"
      size="lg"
      class="float-right"
      @click="backToMedicine()"
    >
      <b-icon icon="arrow-left-circle" aria-hidden="true"></b-icon>
      กลับ</b-button
    >
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      medicinePrescription: {}
    }
  },
  mounted () {
    this.getMedicinePrescriptionById();
  },
  methods: {
    async getMedicinePrescriptionById () {
      const { status, data } = await this.$api.get(
        `/medicinePrescription/${this.$route.params.id}`
      )
      if (status === 200) {
        this.medicinePrescription = data.data
      }
    },
    backToMedicine() {
      router.push({ name: 'medicinePrescription', params: { id: this.$route.params.customerId}})
    }
  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
