<template>
  <div class="container">
    <div class="shadows mt-3 bg-light ">
      <h1 class="title-header p-3 d-sm-block d-none">
        แก้ไขรายการยา
      </h1>
      <h5 class="title-header p-3 d-sm-none d-block">
        แก้ไขรายการยา
      </h5>

      <div class="container pb-2">
        <div>
          <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ประเภทยา"
                label-for="input-horizontal"
              >
                <b-form-select
                  :options="TypeOptions"
                  v-model="medicinePrescription.type"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="3"
                label="เลขที่ยา"
                label-for="namedrug"
              >
                <b-form-input
                  id="number"
                  v-model="medicinePrescription.drugNumber"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="4"
                label="ชื่อยา"
                label-for="namedrug"
              >
                <b-form-input v-model="medicinePrescription.drugName"></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label-cols-sm="4"
                label-cols-lg="3"
                label="จำนวน"
                label-for="namedrug"
              >
                <b-form-input
                  type="number"
                  v-model="medicinePrescription.amount"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </div>
      </div>
    </div>
    <br/>
    <div class="float-right">
      <b-button variant="secondary" size="lg" style="margin-top: 9px" @click="backToMedicine()"
        >ยกเลิก</b-button
      >&nbsp;
      <b-button
        variant="primary"
        size="lg"
        style="margin-top: 9px"
        @click="editMedicinePrescription()"
        >ยืนยัน</b-button
      >
    </div>
    <!-- <b-button
      variant="success"
      class="float-right"
      size="lg"
      style="margin-top: 9px"
      @click="editMedicinePrescription()"
      >ยืนยัน</b-button
    > -->
  </div>
</template>

<script>
import router from '@/router'
export default {
  data () {
    return {
      TypeOptions: [
        { value: '1', text: '1' },
        { value: '2', text: '2' },
        { value: '3', text: '3' }
      ],
      medicinePrescription: {
        type: '',
        drugNumber: '',
        drugName: '',
        amount: 0
      }
    }
  },
  mounted () {
    this.getMedicinePrescriptionById()
  },
  methods: {
    async editMedicinePrescription() {
      await this.$api.put(`/medicinePrescription/${this.$route.params.id}`, this.medicinePrescription)
        .then((response) => {   
          if(response.status === 200) {
            router.push({ name: 'medicinePrescription', params: { id: this.$route.params.customerId}}) 
          }
        })    
        .catch((errors) => {    
          console.log(errors)    
        })
    },
    async getMedicinePrescriptionById () {
      const { status, data } = await this.$api.get(
        `/medicinePrescription/${this.$route.params.id}`
      )
      if (status === 200) {
        this.medicinePrescription = data.data
      }
    },
    backToMedicine() {
      router.push({ name: 'medicinePrescription', params: { id: this.$route.params.customerId}})
    }

  }
}
</script>

<style>
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
