<template>
  <div>
    <b-container>
      <div class="shadows mt-3 bg-light">
        <h1 class="title-header p-3 d-sm-block d-none">
          การจ่ายยา
        </h1>
        <h5 class="title-header p-3 d-sm-none d-block">
          การจ่ายยา
        </h5>
        <menu-companent :customerId="customerId"></menu-companent>
        <div class="container pb-2">
          <b-row>
            <b-col sm>
              <b-form-group
                id="fieldset-horizontal"
                label-cols-lg="3"
                label="ค้นหายา"
                label-for="input-horizontal"
              >
                <b-input-group size="sm" class="mb-2">
                  <b-input-group-prepend is-text>
                    <b-icon icon="search"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    type="search"
                    placeholder="ค้นหา เลขที่ยา / ชื่อยา"
                    v-model="keyword"
                  ></b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col>
              <b-button
                variant="success"
                class="float-right"
                @click="createMedicinePrescription()"
                >เพิ่มรายการยา</b-button
              >
            </b-col>
          </b-row>
          <!-- <b-row style="clear: both;">
            <b-col>
              <b-button
                variant="success"
                class="float-right"
                @click="createMedicinePrescription()"
                >เพิ่มรายการยา</b-button
              >
              
            </b-col>
          </b-row> -->
          
          <div style="overflow-x:auto;">
            <b-table 
            striped
            hover
            :items="items"
            :fields="fields"
            :thead-class="'thead-gray'"
            :table-class="'tbody-white'"
          >
            <template v-slot:cell(operation)="data">
              <b-button variant="primary" @click="detailMedicinePrescription(data)">รายละเอียด</b-button>
              &nbsp;
              <b-button variant="warning" @click="editMedicinePrescription(data)"
                >แก้ไข</b-button
              >&nbsp;
              <b-button variant="danger" @click="showModalMedicine(data)" v-b-modal.modal-center>ลบ</b-button>
            </template>
          </b-table>
          </div>  
        </div>
      </div>
    </b-container>
     <b-modal
      id="modal-center" 
      centered title="ต้องการลบรายการยานี้ใช่หรือไม่"
      ref="delete-Medicine-modal"
      hide-footer
       >
      <b-button @click="deleteMedicine()" variant="danger" class="float-right" style="margin: 2px">ใช่</b-button>
      &nbsp;
      <b-button @click="hideModalMedicine()" class="float-right" style="margin: 2px">ไม่</b-button>
    </b-modal>
  </div>
</template>

<script>
import router from '@/router'
import MenuCompanent from '../../components/MenuCompanent.vue';
export default {
  components: {
    MenuCompanent,
  },
  data () {
    return {
      medicineId: 0,
      ElementOptions: [
        { value: '1', text: '1' },
        { value: '2', text: '2' },
        { value: '3', text: '3' }
      ],
      medicinePrescription: [],
      medicinePrescriptionId: 0,
      keyword: '',
      fields: [
        {
          key: 'type',
          label: 'ประเภทยา',
          class: 'text-center align-middle'
        },
        { key: 'drugNumber', label: 'เลขที่ยา', class: 'text-center align-middle' },

        {
          key: 'drugName',
          label: 'ชื่อยา',
          class: 'text-center align-middle'
        },
        {
          key: 'amount',
          label: 'จำนวน',
          class: 'text-center align-middle'
        },
        {
          key: 'operation',
          label: 'เครื่องมือ',
          class: 'text-center align-middle'
        }
      ]
    }
  },
  computed: {
    customerId() {
      return this.$route.params.id 
    },
    items() {
      return this.keyword
        ? this.medicinePrescription.filter(item => item.drugNumber.includes(this.keyword) || item.drugName.includes(this.keyword))
        : this.medicinePrescription
    }
  },
  mounted () {
    this.getMedicinePrescription();
  },
  methods: {
    showModalMedicine(data) {
      this.medicineId = data.item.id
      this.$refs['delete-Medicine-modal'].show()
    },
    hideModalMedicine() {
      this.$refs['delete-Medicine-modal'].hide()
    },
    async getMedicinePrescription() {
      const { status, data } = await this.$api.get(`/medicinePrescription/customer/${this.$route.params.id}`)
      if (status ===  200) {
        this.medicinePrescription = data.data
      }
    },
    createMedicinePrescription() {
      router.push({ name: 'medicinePrescription.create', params: { customerId: this.$route.params.id }})
    },
    detailMedicinePrescription(data) {
      router.push({ name: 'medicinePrescription.detail', params: { id: data.item.id, customerId: this.$route.params.id }})
    },
    editMedicinePrescription(data) {
      router.push({ name: 'medicinePrescription.edit', params: { id: data.item.id, customerId: this.$route.params.id }})
    },
    async deleteMedicine() {
      const { status, data } = await this.$api.delete(`/medicinePrescription/${this.medicineId}`)
      if (status == 200) {
        const { status, data } = await this.$api.get(`/medicinePrescription/customer/${this.$route.params.id}`)
        if (status ===  200) {
        this.medicinePrescription = data.data
      }
      this.hideModalMedicine()
      }
    }
  }
  
}
</script>

<style>
body {
  background: #e7e7e7 !important;
}
.thead-gray {
  font-size: 17px;
  background-color: #cacaca !important;
  color: black !important;
}
.title-header {
  background-color: #8c9086;
  color: white;
}
</style>
